logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
.target
/.settings
*.db
public/video/bg.mp4
public/video/bg.webm
public/video/bg2.mp4
public/video/bg2.webm
/.cache
/startplay.bat
