<div id="details" class="accordion">
	<script type="x/handlebars-template" id="entryDetailsTemplate">
		<table> 
			<tr id ="details_text_course">
				<td>							
					<b> Date </b>
				</td>
				<td>
					{{formattedDate}} 
				</td>				
				<td>							
					<b> Time </b>
				</td>
				<td>
                    {{formattedTime}}
				</td>
			</tr>
			<tr id ="details_text_position">
				<!-- latitude -->	
				<td>							
					<b>Lat </b> 
				</td>
				<td>
					{{latRounded}} N
				</td>

				<!-- latitude -->	
				<td>							
					<b>Lng </b>
				</td>
				<td>
					{{lngRounded}} E
				</td>
			</tr>			
			<tr id ="details_text_position">
				<td>							
					<b>COG </b>
				</td>
				<td>
					{{cog}}
				</td>					
				<td>							
					<b>SOG </b>
				</td>
				<td>
					{{sog}}
				</td>
			</tr>
			<tr id ="details_text_distance">
				<td>							
					<b>BTM </b>
				</td>
				<td>
					unknown
				</td>					
				<td>							
					<b>DTM </b>
				</td>
				<td>
					unknown
				</td>
			</tr>
		</table>
	</script>

	<!-- Detail Map -->
	<div id="details_map_head" class="head">
		<img id="details_map_img" src='@routes.Assets.at("images/logbook/contract-icon.png")' class="details-img-expand">
		<h3 >Map</h3>		
	</div>    
    <div id="details_map">
        <div id="map_canvas">

        </div>       
    </div>
    
    <!-- Detail Information -->
    <div id="details_text_head" class="head">
        <img id="details_text_img" src='@routes.Assets.at("images/logbook/contract-icon.png")' class="details-img-expand">
       	<h3>Details</h3>
    </div>  
    <div id="details_text">
                
    </div>
    
    <div id="details_weather_head" class="head">
        <img id="details_weather_img" src='@routes.Assets.at("images/logbook/contract-icon.png")' class="details-img-expand">
     	<h3>Weather</h3>
    </div>
    <div id="details_weather">
        <p>
            <img src='@routes.Assets.at("images/dummy_weather.png")' alt="Weather dummy" class="img-responsive">
        </p>
    </div>
</div>