<div id="details" class="accordion">
    <h3 class="head">Map</h3>
    <div>
        <img src='@routes.Assets.at("images/dummy_map.png")' alt="Map dummy" class="img-responsive">
    </div>
    <h3 class="head">Details</h3>
    <div id="detailsText">
        <p>
           Details müssen hier rein
        </p>
    </div>
    <h3 class="head">Weather</h3>
    <div >
        <p>
            <img src='@routes.Assets.at("images/dummy_weather.png")' alt="Weather dummy" class="img-responsive">
        </p>
    </div>
</div>