<div id="entries_col">
    <div id="filterBar">
        <a id="chkOnlyWithImage" class="filterButton">&nbsp;<img src="@routes.Assets.at("images/logbook/camera.png")" alt="Only with image" />&nbsp;</a>
        <a id="chkOnlyWithNote" class="filterButton">&nbsp;<img src="@routes.Assets.at("images/logbook/notes.png")" alt="Only with note"/>&nbsp;</a>
        <a id="timeOffsetToggler" class="filterButton">0</a>
    </div>

    <a href="#" id="btnLoadPreviousTrip" class="NextPrevTripButton" style="margin-bottom: 5em; background-image: url(@routes.Assets.at("images/logbook/prevtrip.png"))"><span class="btnTitle">Load Previous Trip</span><br /><span id="prevTripName"><!-- AJAX content --></span></a>

    <div id="entries">
        <!-- ajax content -->
    </div>

    <a href="#" id="btnLoadNextTrip" class="NextPrevTripButton" style="margin-top: 5em; background-image: url(@routes.Assets.at("images/logbook/nexttrip.png"))"><span class="btnTitle">Load Next Trip</span><br /><span id="nextTripName"><!-- AJAX content --></span></a>
</div>


<div id="waypointEditorPopup" class="modal fade">
    <div class="inputForm-modal inputForm_Waypoint-modal">
		<div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" data-dismiss="modal" type="button">x</button>
                <h4 class="modal-title">Edit waypoints</h4>
            </div>
            <div class="inputForm-content">
                <form id="waypointInputForm" action="@de.htwg.seapal.web.controllers.routes.MainAPI.createDocument("waypoint")" method="post" class="form_global form_waypoint">
                    @appContent.inputForms.form_waypointeditor()
                </form>
            </div>
		</div>
	</div>
</div>

<div id="tripEditorPopup" class="modal fade">
    <div class="inputForm-modal inputForm_Track-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" data-dismiss="modal" type="button">x</button>
                <h4 class="modal-title">Edit track</h4>
            </div>
            <div class="inputForm-content">
                <form id="trackInputForm" class="form_global form_track" action="@de.htwg.seapal.web.controllers.routes.MainAPI.createDocument("trip")" method="post">
                    @appContent.inputForms.form_trackeditor()
                </form>
            </div>
        </div>
    </div>
</div>

<script type="x/handlebars-template" id="tripTemplate">
    <div class="tripContainer" id="trip_{{_id}}">
        <div class="tripHeader" id="trip_header_{{_id}}">
            <h3>{{name}}<img class="tripEditButton" src="@routes.Assets.at("images/logbook/pen.png")" alt="Edit" /></h3>
            <table style="min-width: 80%">
                <tr>
                    <td><b>Route:</b></td>
                    <td>{{from}} &#8594; {{to}}</td>
                </tr>
                <tr>
                    <td><b>Started</b></td>
                    <td>{{formattedStartDate}}</td>
                </tr>
                <tr>
                    <td><b>Arrived</b></td>
                    <td>{{formattedEndDate}}</td>
                </tr>
                <tr>
                    <td><b>Crew:</b></td>
                    <td>
                        {{skipper}} (Skipper)
                        {{#if crew}}
                        <br />with {{crew}}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{notes}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>

<script type="x/handlebars-template" id="waypointTemplate">
        <div class="logbookEntry {{#if note}}hasNote{{/if}} {{#if image_thumb}}hasImage{{/if}}" id="waypoint_{{_id}}">
            <b>{{name}}</b>&nbsp;<img class="waypointEditButton" src="@routes.Assets.at("images/logbook/pen.png")" alt="Edit" />
			<br />

            {{#if image_thumb}}
            <a href="/logbook/waypointPhoto/{{_id}}" data-lightbox="highres_{{_id}}">
                <img src="{{image_thumb}}" alt="" class="waypointThumb" />
            </a>
            {{/if}}

            <span>{{note}}</span>
			<br style="clear: both" />
        </div>
</script>

<script type="x/handlebars-template" id="ajaxLoaderTemplate">
        <div id="{{loaderId}}" class="ajaxLoader" style="text-align: center; margin: 2em">
            <br style="clear: both" />
            <img src="@routes.Assets.at("images/logbook/ajax-loader.gif")" />
            <br style="clear: both" />
        </div>
</script>

<script type="x/handlebars-template" id="loadMoreEntriesTemplate">
        <div class="loadMoreSection" data-tripid="{{tripId}}" style="text-align: center">
            <a data-tripid="{{tripId}}" href="#" class="btn btn-primary btnLoadMoreEntries">Load more...</a>
        </div>
</script>

