<div id="entries_col">
    <div id="filterBar">
        <a id="chkOnlyWithImage" class="filterButton">&nbsp;<img src="@routes.Assets.at("images/logbook/camera.png")"  />&nbsp;</a>
        <a id="chkOnlyWithNote" class="filterButton">&nbsp;<img src="@routes.Assets.at("images/logbook/notes.png")" />&nbsp;</a>
        <a id="timeOffsetToggler" class="filterButton">0</a>
    </div>

    <a href="#" id="btnLoadPreviousTrip" class="btn btn-primary" style="margin: 3em auto; display: none">Load previous trip</a>

    <div id="entries">
        <!-- ajax content -->
    </div>

    <a href="#" id="btnLoadNextTrip" class="btn btn-primary" style="margin: 3em auto; display: none">Load next trip</a>
</div>

<!-- filter dialog -->
<div class="modal fade" id="filterDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filter</h4>
            </div>
            <div class="modal-body">
                Only show waypoints which...
                <div style="padding-left: 2em">
                    <form>
                        <input type="checkbox" id="chkOnlyWithImage" />
                        <label for="chkOnlyImage">...have an image</label>
                        <br />
                        <input type="checkbox" id="chkOnlyWithNote" />
                        <label for="chkOnlyWithNote">...have notes</label>
                        <br />
                        Minimum time period between entries:
                        <input type="text" id="txtTimePeriod" value="0"  />
                    </form>
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnApplyFilter">Apply</button>
            </div>
        </div>
    </div>
</div>

<script type="x/handlebars-template" id="tripTemplate">
    <div class="tripContainer" id="trip_{{_id}}">
        <div class="tripHeader" id="trip_header_{{_id}}">
            <h3>{{name}}</h3>
            <table style="min-width: 80%">
                <tr>
                    <td><b>Route:</b></td>
                    <td>{{from}} &#8594; {{to}}</td>
                </tr>
                <tr>
                    <td><b>Started</b></td>
                    <td>{{formattedStartDate}}</td>
                </tr>
                <tr>
                    <td><b>Arrived</b></td>
                    <td>{{formattedEndDate}}</td>
                </tr>
                <tr>
                    <td><b>Crew:</b></td>
                    <td>
                        {{skipper}} (Skipper)
                        {{#if crew}}
                        <br />with {{crew}}
                        {{/if}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>

    <script type="x/handlebars-template" id="waypointTemplate">
        <div class="logbookEntry {{#if note}}hasNote{{/if}} {{#if image_thumb}}hasImage{{/if}}" id="waypoint_{{_id}}">
            <b>{{name}}</b><br />

            {{#if image_thumb}}
            <a href="logbook/waypointPhoto/{{_id}}" data-lightbox="highres_{{_id}}">
                <img src="{{image_thumb}}" alt="" style="float: left" />
            </a>
            {{/if}}

            <span>{{note}}</span>
            <br style="clear: both" />
        </div>
    </script>

    <script type="x/handlebars-template" id="ajaxLoaderTemplate">
        <div id="{{loaderId}}" class="ajaxLoader" style="text-align: center">
            <img src="@routes.Assets.at("images/logbook/ajax-loader.gif")" />
        </div>
    </script>

    <script type="x/handlebars-template" id="loadMoreEntriesTemplate">
        <div class="loadMoreSection" data-tripid="{{tripId}}" style="text-align: center">
            <a data-tripid="{{tripId}}" href="#" class="btn btn-primary btnLoadMoreEntries">Load more...</a>
        </div>
    </script>

