<!-- META -->
<meta charset="utf-8">
<meta http-equiv='content-type' content='text/html; charset=utf-8'/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name='keywords' content='logbook, Seapal'/>
<meta name='description' content='Logbook of Seapal trips.'/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>SeaPal Logbook</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/bootstrap-responsive.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/flipster/css/jquery.flipster.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/logbook.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/lightbox/css/lightbox.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/timeline/css/timeline.css")">

<!-- JS -->
<script type="text/javascript" src="@routes.Assets.at("js/homepage/jquery-1.10.2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/homepage/jquery-migrate-1.2.1.min.js")"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="@routes.Assets.at("js/homepage/bootstrap.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/flipster/js/jquery.flipster.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/sticky-kit.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/lightbox/js/lightbox.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/timeline/js/timeline-min.js")"></script>
