<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="keywords" content="logbook, Seapal" />
<meta http-equiv="description" content="Logbook of Seapal trips." />
<meta http-equiv="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/font-awesome.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/navbar.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/lightbox/css/lightbox.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/timeline/css/timeline.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/logbook_masterlayout.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/logbook.css")">
<script type="text/javascript" src="@routes.Assets.at("lib/jquery-2.1.1.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/homepage/bootstrap.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/logbookapi.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/moment.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/navbar.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/maps.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/app/coordinateHelpers.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/homepage/jquery.easing.1.3.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/lightbox/js/lightbox.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/dragscrollable.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/waypoints.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/handlebars/handlebars-v1.3.0.js")"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAL6gKFmwH7gDXmmAW-5VqkW_HbJG7_QLA&amp;sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="@routes.Assets.at("js/highchart/highcharts.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/highchart/highcharts-more.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/highchart/exporting.js")"></script>


<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/AirPressure.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/AirPressureCloudingTemperature.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/Clouds.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/COGCompass.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/SOGSpeedometer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/Speed.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/Temperature.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/WaveCompass.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/WaveDirHeight.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/WindCompass.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/highcharts/WindDirSpeed.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/logbook.js")"></script>
