<div class="navbar" data-activeslide="3" role="navigation">
    <a class="panelToggler" id="timelineToggler" style="float: left; background-image: url(@routes.Assets.at("images/logbook/toggletimeline.png"))">&nbsp;</a>
    <a  class="panelToggler" id="detailsToggler" style="float: right; background-image: url(@routes.Assets.at("images/logbook/toggledetails.png"))">&nbsp;</a>
    <div class="container">

            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <div class="row">
                <ul class="nav">
                    <li data-slide="1" class="col-12 col-sm-2"><a class="regular-link" href="@de.htwg.seapal.web.controllers.routes.Application.index()"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
                    <li data-slide="2" class="col-12 col-sm-1_a"><a class="regular-link" href="@de.htwg.seapal.web.controllers.routes.Application.app()"><span class="icon icon-laptop"></span> <span class="text">APP</span></a></li>
                    <li data-slide="3" class="col-12 col-sm-1_a"><a class="regular-link" href="#"><span class="icon icon-book"></span> <span class="text">LOGBOOK</span></a></li>
                    <li data-slide="4" class="col-12 col-sm-1_a"><a class="regular-link" href="@de.htwg.seapal.web.controllers.routes.Application.impressum()"><span class="icon icon-certificate"></span> <span class="text">IMPRESSUM</span></a></li>
                </ul>
            </div>
            <div class="row" id="nav_indicator">
                <div class="col-sm-2 active-menu"></div>
            </div>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar -->