@(Model : de.htwg.seapal.web.models.Logbook)
<!DOCTYPE html>
<html lang="en">
<head>
<title>SeaPal Logbook</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="keywords" content="logbook, Seapal" />
<meta http-equiv="description" content="Logbook of Seapal trips." />
<meta http-equiv="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/font-awesome.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/navbar.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/lightbox/css/lightbox.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/timeline/css/timeline.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/logbook_masterlayout.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/logbook.css")">
<script type="text/javascript" src="@routes.Assets.at("lib/jquery-2.1.1.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/homepage/bootstrap.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/logbookapi.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/moment.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/navbar.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/logbook/maps.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/app/coordinateHelpers.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/homepage/jquery.easing.1.3.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/lightbox/js/lightbox.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/dragscrollable.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/waypoints.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("lib/handlebars/handlebars-v1.3.0.js")"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAL6gKFmwH7gDXmmAW-5VqkW_HbJG7_QLA&amp;sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="@routes.Assets.at("js/highchart/highcharts.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/highchart/highcharts-more.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/highchart/exporting.js")"></script>
</head>
<body>
    @logbookContent.entries()

    <div id="menu_bar">
        @logbookContent.menubar()
    </div>

    <div id="timeline_col">
        @logbookContent.timeline()
    </div>

    <div id="details_col">
        @logbookContent.details()
    </div>

    <script type="text/javascript">
        var map;

        //HTML templates - Handlebars lib
        var tripTemplate;
        var waypointTemplate;
        var ajaxLoaderTemplate;
        var loadMoreEntriesTemplate;
        var entryDetailsTemplate;
        var timelineTripTemplate;
        var timelineWaypointTemplate;

        var dateFormatShort = "YYYY-MM-DD";
        var timeFormat = "h:mm:ss a";

        var isLoadingWaypoints = false;

        var initialTripId = '@Model.getInitialTripId()';
        var boatId = '2dcc6f94-4d01-47d4-a4ed-e5ce9a6be3cf';  // for test only

        var scrollToWaypointTimeout;

        $(document).ready(function () {
            var dateFormatShort = "YYYY-MM-DD";
            var timeFormatShort = "mm:ss:zzz";

            // preloaded Images
            var expandImage = new Image();
            var contractImage = new Image();
            expandImage.src = '@routes.Assets.at("images/logbook/expand-icon.png")';
            contractImage.src = '@routes.Assets.at("images/logbook/contract-icon.png")';

            // compile the HTML templates with Handlebars lib
            tripTemplate = Handlebars.compile($('#tripTemplate').html());
            waypointTemplate = Handlebars.compile($('#waypointTemplate').html());
            ajaxLoaderTemplate = Handlebars.compile($('#ajaxLoaderTemplate').html());
            loadMoreEntriesTemplate = Handlebars.compile($('#loadMoreEntriesTemplate').html());
            entryDetailsTemplate = Handlebars.compile($('#entryDetailsTemplate').html());
            timelineTripTemplate = Handlebars.compile($('#timelineTripTemplate').html());
            timelineWaypointTemplate = Handlebars.compile($('#timelineWaypointTemplate').html());

            // load the initial trip
            changeTripTo(initialTripId);

            // load the timeline
            logbook.getAllTripsOfBoat(boatId, onReceivedAllTrips);
            //logbook.getAllWaypointsOfTrip(initialTripId, onReceivedAllWaypointsByTrip);

            // click handlers for loading previous/next trip
            $('.NextPrevTripButton').click(function () { changeTripTo($(this).attr('data-trip')) });

            // toggle sections of the details panel
            $('.accordion .head').click(function () {
                // change expander image
                var headId = $(this).attr('id');
                var changeImage = document.getElementById(headId.substr(0, headId.lastIndexOf('_')) + '_img');

                if (changeImage.src == expandImage.src) {
                    changeImage.src = contractImage.src;
                } else {
                    changeImage.src = expandImage.src;
                }

                $(this).next().toggle("slow");

                return true;
            });

            //add margin to entries column. Otherwise it's not posible to scroll to the last entry
            $('#entries_col').css('margin-bottom', $.waypoints('viewportHeight'));

            // add handlers for clicks on trips & waypoints in the timeline
            $('#timeline').on('click', 'div.timeline-panel.expandable', function () {     // click on trip header in timeline
                var tripId = $(this).attr("id");
                tripId = tripId.replace('timeline-trip_', '');

                // check if this is the active trip
                var tripContainer = $('#trip_' + tripId);
                if (tripContainer.length != 0) {
                    $('#timeline-trip_container_' + tripId).toggle("slow");
                    return true;
                } else {
                    // this trip is currently not loaded -> get it
                    $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                    logbook.getTripData(tripId, onReceivedTrip);
                }

            });

            $('#timeline').on('click', 'div.timeline-panel.clickable', function () {    // click on waypoint item in timeline
                var waypointId = $(this).attr("id");
                waypointId = waypointId.replace('timeline-waypoint_', '');
                var entry = $("#waypoint_" + waypointId);
                scrollToWaypoint(entry);
                return true;
            });

            $('#timeline').dragscrollable();

            //navbar
            //menu_hover();
            //var lis = $('.nav > li');
            //menu_focus(lis[2], 3);

            //hotfix: hrefs didn't work anymore (click returns false anywere?!)
            $('.navbar .nav a').click(function (event) {
                var url = $(this).attr('href');
                //console.log(url);
                window.location = url;
                return true;
            });

            //$('#btnApplyFilter').click(function () { window.setTimeout(applyEntryFilters, 500) });

            map = new google.maps.Map(document.getElementById('map_canvas'));

            // click handlers for entry filter buttons
            $('#chkOnlyWithImage, #chkOnlyWithNote').click(function () {
                $(this).toggleClass('active');
                applyEntryFilters();
            });
            $('#timeOffsetToggler').click(function () {
                var currentValue = parseInt($(this).html());
                var newValue = 0;
                if (currentValue == 0)
                    newValue = 5;
                else if (currentValue == 5)
                    newValue = 15;
                else if (currentValue == 15)
                    newValue = 30;
                else if (currentValue == 30)
                    newValue = 60;
                else
                    newValue = 0;

                $(this).html(newValue);
                applyEntryFilters();
            });

            // click handlers for panel toggle buttons in menubar
            $('#timelineToggler').click(function () { $('#timeline_col').toggleClass('forceOpen'); $('#details_col').removeClass('forceOpen'); });
            $('#detailsToggler').click(function () { $('#details_col').toggleClass('forceOpen'); $('#timeline_col').removeClass('forceOpen'); });
            // hide side panels if mouse leaves them
            $('#entries_col').mouseenter(function () { $('#details_col, #timeline_col').removeClass('forceOpen'); })
            $('#entries_col').click(function () { $('#details_col, #timeline_col').removeClass('forceOpen'); })
        });  //   /document.ready()

        // changes the currently displayed trip to another one
        function changeTripTo(tripId) {
            if (tripId && tripId.length > 0) {
                $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                $('#timeline').append(ajaxLoaderTemplate({ loaderId: 'tripLoaderTimeline' }));
                $('#details_map').append(ajaxLoaderTemplate({ loaderId: 'tripLoaderMap' }));

                $('.NextPrevTripButton').hide();
                $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                logbook.getTripData(tripId, onReceivedTrip);
            }
        }

        // Adds the function 'callback' as a handler when the users scrolls to the 'item'.
        function initWaypoint(item, callback) {
            var offset_up = 1;
            var offset_down = $('#menu_bar').css("height") + parseInt($('.logbookEntry').css('min-height')) + 1;

            item.waypoint(function (direction) {
                if (direction == "down") {
                    callback(item);
                }
            }, { offset: offset_down });

            item.waypoint(function (direction) {
                if (direction == "up") {
                    callback(item);
                }
            }, { offset: offset_up });
        }

        // callback of getTripData()
        function onReceivedTrip(tripId, tripData) {
            // prepare formatted datetime strings (required in handlebars templates)
            tripData.formattedStartDate = moment(new Date(tripData.startDate)).format(dateFormatShort + " " + timeFormat);
            tripData.formattedEndDate = moment(new Date(tripData.endDate)).format(dateFormatShort + " " + timeFormat);

            // hide the loading animations
            $('#tripLoader').remove();
            $('#tripLoaderTimeline').remove();
            $('#tripLoaderMap').remove();

            // create the container for this trip
            $('#entries').append(tripTemplate(tripData));

            var trip_header = $('#trip_header_' + tripId);
            initWaypoint(trip_header, onScrolledToTripHeader); // add scrolled-to handler
            trip_header.data("tripData", tripData);  // store the DB object in this DOM element

            // lookup previous and next trip
            logbook.getTripsOfBoat(boatId, tripData.startDate, 1, 1, 'true', onReceivedPreviousTrip);  // previous
            logbook.getTripsOfBoat(boatId, tripData.startDate, 1, 1, 'false', onReceivedNextTrip);  // next

            // show complete route on maps:  convert tripData.marks in array with lat lon objects
            var map_waypoints = [];
            for (i = 0; i < tripData.marks.length; i = i + 2) {
                map_waypoints[i / 2] = new google.maps.LatLng(tripData.marks[i], tripData.marks[i + 1]);
            }

            // ???
            initialize_waypoints(map_waypoints);
            // add handler for click on a waypoint marker in the map (scroll to waypoint position in entries view)
            setMarkerClickFunction(clicked_on_marker);

            // get the waypoints of this trip
            loadMoreEntries(tripId, 0);  // 0 = all waypoints
        }

        // callbacks from getTripsOfBoat, receives a subset of the properties of the previous/next trip
        function onReceivedPreviousTrip(trips) {
            if (trips.length > 0) {
                $('#prevTripName').html(trips[0].name);
                $('#btnLoadPreviousTrip').attr('data-trip', trips[0]._id).css('display', 'block');
                var scrollOffset = $('.tripHeader').offset().top - $('#entries_col').css("margin-top").replace("px", "");
                //alert(scrollOffset);
                $('html,body').prop('scrollTop', scrollOffset);
                //$('.tripHeader')[0].scrollIntoView(true);
            } else {
                $('#btnLoadPreviousTrip').attr('data-trip', '').hide();
            }
        }

        function onReceivedNextTrip(trips) {
            if (trips.length > 0) {
                $('#nextTripName').html(trips[0].name);
                $('#btnLoadNextTrip').attr('data-trip', trips[0]._id).css('display', 'block');
            } else {
                $('#btnLoadNextTrip').attr('data-trip', '').hide();
            }
        }

        // callback of logbook.getAllTripsOfBoat
        // Populates the inital timeline
        function onReceivedAllTrips(trips) {
            var timelineContainer = $('.timeline_header');
            $.each(trips, function (index, tripData) {
                tripData.startDate = moment(new Date(tripData.startDate)).format(dateFormatShort);
                timelineContainer.append(timelineTripTemplate(tripData));
            });
        }

        // callback of getTripWaypoints()
        function onReceivedWaypoints(tripId, waypoints) {
            var tripContainer = $('#trip_' + tripId);
            var timelineTripContainer = $('#timeline-trip_container_' + tripId);
            var trip_header = $('#trip_header_' + tripId);

            var tripData = trip_header.data("tripData");
            var title = 'Speed - ' + tripData.name;
            var description = tripData.from + " to " + tripData.to
            var waypoint_names = [];
            var waypoint_ids = [];
            var data_y = [];
            var data_x = []

            // hide ajax loader in this trip container
            $('#entryLoader' + tripId).remove();
            //console.log(waypoints);
            // iterate all received waypoints and append the template to the container of the trip & the timelime
            $.each(waypoints, function (index, waypointData) {
                // unix timestamp -> formatted time
                waypointData.formattedDate = moment(new Date(waypointData.date)).format(dateFormatShort);
                waypointData.formattedTime = moment(new Date(waypointData.date)).format(timeFormat);

                // append to trip in timeline panel
                timelineTripContainer.append(timelineWaypointTemplate(waypointData));

                // append to trip in entries panel
                tripContainer.append(waypointTemplate(waypointData));
                var entryNode = $('#waypoint_' + waypointData._id);
                entryNode.data('waypointData', waypointData);
                initWaypoint(entryNode, onScrolledToWaypoint);

                data_x.push(index + 1);
                data_y.push(parseFloat(waypointData.sog));
                waypoint_names.push(waypointData.name);
                waypoint_ids.push(waypointData._id);
            });

            // refresh waypoint handlers to new positions of elements
            window.setTimeout(function () { $.waypoints('refresh'); }, 200);
            isLoadingWaypoints = false;

            $('.logbookEntry').click(function (e) {
                if ($(e.target).is('img')) {
                    e.preventDefault();
                    return;
                }
                scrollToWaypoint($(this));
            });

            initSpeedChart($('#details_chart'), data_x, data_y, waypoint_names, waypoint_ids, title, description);
        }

        // loads or appends waypoint entries to a trip
        function loadMoreEntries(tripId, count) {
            if (isLoadingWaypoints) {
                return;
            }

            isLoadingWaypoints = true;
            var tripContainer = $('#trip_' + tripId);
            var loadedEntriesCount = tripContainer.children('.logbookEntry').length;

            // remove "load more" button
            tripContainer.children('.loadMoreSection').remove();
            // show loader for entries:
            tripContainer.append(ajaxLoaderTemplate({ loaderId: 'entryLoader' + tripId }));

            // get the next waypoints of this trip
            logbook.getTripWaypoints(tripId, loadedEntriesCount, count, onReceivedWaypoints);
        }

        // callback for trip container when scrolled to
 		function onScrolledToWaypoint(node) {
            $('#details_chart').css("display", "none");
            $('.logbookEntry').removeClass("active");
            node.addClass("active");

            // change details
            var waypointData = node.data('waypointData');
            if (typeof (waypointData) != "undefined") {   
            	var coordHelper = new coordinateHelpers();
            	
            	waypointData.latRounded = coordHelper.getLatAsString(waypointData.lat);
            	waypointData.lngRounded = coordHelper.getLngAsString(waypointData.lng);
            	
               // waypointData.latRounded = ('' + waypointData.lat).substr(0, 7);
               // waypointData.lngRounded = ('' + waypointData.lng).substr(0, 7);
            }
            $('#details_text').html(entryDetailsTemplate(waypointData));


            if (typeof (scrollToWaypointTimeout) != undefined) {
                clearTimeout(scrollToWaypointTimeout);
            }
            scrollToWaypointTimeout = setTimeout(function () {
                console.log("onScrolledToWaypoint timeout called")
                // create detail pie charts
                $('#details_pie_charts').css("display", "block");


                //only call init once if there's no html content inside the matching div
                if($.trim($('#speedometer_sog' ).html()) == ''){
                    initSOGSpeedometer('speedometer_sog');
                }
                if($.trim($('#compass_cog' ).html()) == ''){
                    initCOGCompass('compass_cog');
                }

                if (typeof (window.sogChart) != "undefined") {
                    var point = window.sogChart.series[0].points[0];
                    var newVal = waypointData.sog.substr(0, waypointData.sog.lastIndexOf(' '));
                    point.update(parseFloat(newVal));
                    window.sogChart.redraw();
                }

                if (typeof (window.cogChart) != "undefined") {
                    var pointH = window.cogChart.series[0].points[0];
                    var pointB = window.cogChart.series[1].points[0];
                    var newValH = parseFloat(waypointData.cog.substr(0, waypointData.sog.lastIndexOf(' ')));
                    var newValB = newValH - 180;
                    if (newValB < 0) {
                        newValB = 360 + newValB;
                    }
                    pointH.update(newValH);
                    pointB.update(newValB);
                    window.cogChart.redraw();
                }

                // mark waypoint in Map
                if (typeof (map) != "undefined" && typeof (waypointData) != "undefined") {
                    highlight_waypoint(new google.maps.LatLng(waypointData.lat, waypointData.lng));
                }

                // change weather
                $('#details_weather_charts').css("display", "block");

                // create weather charts
                //only call init once if there's no html content inside the matching div
                if($.trim($('#air_pressure' ).html()) == ''){
                    initAirPressureChart('air_pressure');
                }
                if($.trim($('#clouds' ).html()) == ''){
                    initCloudsChart('clouds');
                }
                if($.trim($('#temperature' ).html()) == ''){
                    initTemperatureChart('temperature');
                }
                if ($.trim($('#wind' ).html()) == '') {
                	initWindDirSpeedChart('wind');
                }
                 if ($.trim($('#wave' ).html()) == '') {
                	initWaveDirHeightChart('wave');
                }

                if (typeof (window.airPressureChart) != "undefined") {
                    //TODO fill
                    window.airPressureChart.redraw();
                }

                if (typeof (window.cloudsChart) != "undefined") {
                    //TODO fill
                    window.cloudsChart.redraw();
                }

                if (typeof (window.temperatureChart) != "undefined") {
                    //TODO fill
                    window.temperatureChart.redraw();
                }
                
                if (typeof (window.windDirSpeedChart) != "undefined") {
                	//TODO fill
                    window.windDirSpeedChart.redraw();
                }
                
                if (typeof (window.waveDirHeightChart) != "undefined") {
                	//TODO fill
                    window.waveDirHeightChart.redraw();
                }
            }, 500);
        }

        function onScrolledToTripHeader(node) {
            if (typeof (scrollToWaypointTimeout) != undefined) {
                clearTimeout(scrollToWaypointTimeout);
            }
            $('.logbookEntry').removeClass("active");

            $('#details_text').html(entryDetailsTemplate());
            //zoom out map
            reset_map_zoom();

            $('#details_chart').css("display", "block");
            $('#details_pie_charts').css("display", "none");
            $('#details_weather_charts').css("display", "none");
        }

        /**
        * Shows or hides waypoints based on the current filter settings
        */
        function applyEntryFilters() {
            var onlyImages = $('#chkOnlyWithImage').hasClass('active');
            var onlyNotes = $('#chkOnlyWithNote').hasClass('active');
            var minTimePeriod = parseInt($('#timeOffsetToggler').html()) * 60 * 1000;   // min to msec
            var lastTimestamp = -1;

            // iterate over all waypoints in entry view & timeline
            $('.logbookEntry').each(function (index, value) {
                var item = $(value);  // waypoint entry in entries view
                var waypointData = item.data('waypointData'); // DB object
                var timelineItem = $('#timeline-wp-container_' + waypointData._id);  // corresponding entry in timeline

                // skip item if not at least [minTimePeriod] minutes between this and the last item
                if (minTimePeriod > 0 && lastTimestamp > (parseInt(waypointData.date) - minTimePeriod)) {
                    item.addClass('filtered');
                    timelineItem.addClass('filtered');
                    return;
                }
                lastTimestamp = parseInt(waypointData.date);

                if ((onlyImages && !$(item).hasClass('hasImage')) && (!onlyNotes || (onlyNotes && !$(item).hasClass('hasNote'))) ) {
                    item.addClass('filtered');
                    timelineItem.addClass('filtered');
                }else if ((onlyNotes && !$(item).hasClass('hasNote')) && (!onlyImages || (onlyImages && !$(item).hasClass('hasImage'))) ) {
                    item.addClass('filtered');
                    timelineItem.addClass('filtered');
                } else { // show item
                    item.removeClass('filtered');
                    timelineItem.removeClass('filtered');
                }

            });
            // refresh waypoint handlers to new positions of elements
            window.setTimeout(function () { $.waypoints('refresh'); }, 750);
        }

        function scrollToWaypoint(waypoint) {
            $('.logbookEntry').waypoint('disable');
            var offset = $(waypoint).offset().top - parseInt($('#menu_bar').css('height'));
            $('html, body').animate({
                scrollTop: offset
            }, {
                done: function () {
                    onScrolledToWaypoint(waypoint);
                    $('.logbookEntry').waypoint('enable');
                }
            }, 'slow');
        }

        function clicked_on_marker(marker) {
            var lat = marker.getPosition().lat();
            var lng = marker.getPosition().lng();
            var waypoint = getWaypointFromPosition(lat, lng);
            if (typeof (waypoint) != "undefind") {
                scrollToWaypoint(waypoint);
            }
        }

        function getWaypointFromPosition(lat, lng) {
            var waypoint;
            //console.log("lat: "+lat+" lng: "+lng);

            //hotfix: the longitude differs for some strange reasons... only after the 9th digit.
            //(object received with getTripData have different longitudes as objects received with getTripWaypoints?!)
            lng = lng.toFixed(9);
            $.each($(".logbookEntry"), function () {
                var waypointData = $(this).data().waypointData;
                var match = (waypointData.lat == lat) && (waypointData.lng.toFixed(9) == lng);
                //console.log("lat: "+waypointData.lat+" lng: "+waypointData.lng);
                //console.log(match);
                if (match) {
                    waypoint = $(this);
                    return false;
                }
            });
            return waypoint;
        }

        /**
         *  This function initalizes the SOG Chart
         */
        function initSOGSpeedometer(containerId) {
            if (typeof (window.sogChart) != "undefined") {
                window.sogChart.destroy();
            }
            
            window.sogChart = new Highcharts.Chart({
                chart: {
                    renderTo: containerId,
                    type: 'gauge',
                    alignTicks: false,
                    backgroundColor:'rgba(255, 255, 255, 0.1)',                    
                    backgroundColor:'rgba(255, 255, 255, 0.1)',
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                },

                title: {
                    text: '',
                    style: {
                        display: 'none'
                    }
                },

                pane: {
                    startAngle: -150,
                    endAngle: 150,
                    size: [11],
                    center: ['50%', '50%'],
                    background: [{
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
			                    [0, '#FFF'],
			                    [1, '#333']
                            ]
                        },
                        borderWidth: 0,
                        outerRadius: '109%'
                    }, {
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
			                    [0, '#333'],
			                    [1, '#FFF']
                            ]
                        },
                        borderWidth: 1,
                        outerRadius: '107%'
                    }, {
                        // default background
                    }, {
                        backgroundColor: '#DDD',
                        borderWidth: 0,
                        outerRadius: '105%',
                        innerRadius: '103%'
                    }]
                },

                // the value axis
                yAxis: {
                    min: 0,
                    max: 20,

                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 10,
                    minorTickPosition: 'inside',
                    minorTickColor: '#666',

                    tickPixelInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#666',
                    labels: {
                        step: 1,
                        style: {
                            fontSize: '8px',
                            distance: -15
                        }
                    },
                    title: {
                        text: 'kn',
                        y: 20
                    },
                    plotBands: [{
                        from: 0,
                        to: 13,
                        color: '#55BF3B' // green
                    }, {
                        from: 13,
                        to: 17,
                        color: '#DDDF0D' // yellow
                    }, {
                        from: 17,
                        to: 20,
                        color: '#DF5353' // red
                    }]
                },

                tooltip: {
                    enabled: false
                },

                exporting: {
                    enabled: false
                },

                series: [{
                    name: 'SOG',
                    data: [100],
                    tooltip: {
                        enabled: false
                    }
                }]

            });

            // remove highcart logo
            removeHighChartLogo();
        }


        /**
         *  This function initalizes the Compass Chart
         */
        function initCOGCompass(containerId) {
            if (typeof (window.cogChart) != "undefined") {
                window.cogChart.destroy();
            }
           
            window.cogChart = new Highcharts.Chart({

  	      		chart: {
  	      			renderTo: containerId,
                    type: 'gauge',
                    backgroundColor:'rgba(255, 255, 255, 0.1)',
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                },

                exporting: {
                    enabled: false
                },

                tooltip: {
                    enabled: false
                },

                title: {
                    text: '',
                    style: {
                        display: 'none'
                    }
                },
                pane: {
                    startAngle: -180,
                    endAngle: 180,
                    size: [10],
                    center: ['50%', '50%'],
                    background: [{
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
		                        [0, '#FFF'],
		                        [1, '#333']
                            ]
                        },
                        borderWidth: 0,
                        outerRadius: '109%'
                    }, {
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
		                        [0, '#333'],
		                        [1, '#FFF']
                            ]
                        },
                        borderWidth: 1,
                        outerRadius: '107%'
                    }, {
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
		                        [0, '#666'],
		                        [1, '#0c0c0c']
                            ]
                        },
                        borderWidth: 1,
                        outerRadius: '107%'
                    }, {
                        backgroundColor: '#DDD',
                        borderWidth: 1,
                        outerRadius: '105%',
                        innerRadius: '104%'
                    }]
                },

                // the value axis
                yAxis: [{
                    min: 0,
                    max: 360,

                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 5,
                    minorTickPosition: 'inside',
                    minorTickColor: '#fff',

                    tickInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 8,
                    tickColor: '#fff',
                    labels: {
                        style: {
                            color: '#fff',
                            fontSize: '8px'
                        },
                        step: 2,
                        distance: -15,
                         formatter: function () {
                            if (this.value == 'N' || this.value == 'O' || this.value == '360') {
                                return '180';
                            } else if (this.value == '60') {
                                return '240';
                            } else if (this.value == '120') {
                                return '300';
                            } else if (this.value == '180') {
                                return '0';
                            } else if (this.value == '240') {
                                return '60';
                            } else if (this.value == '300') {
                                return '120';
                            }
                        }
                    }
                }, {     
                    showlastlabel: false,
                    categories: ['N'],
                    offset: 10,
                    min: 0,
                    max: 360,

                    minorTickLength: 0,

                    tickInterval: 45,
                    tickWidth: 2,
                    tickPosition: 'outside',
                    tickLength: 3,
                    tickColor: '#000',

                    labels: {
                        style: {
                            fontSize: '12px',
                            color: '#000'
                        },
                        distance: 15,
                        formatter: function () {
                            if (this.value == 'N' || this.value == 'O' || this.value == '360') {
                                return 'S';
                            } else if (this.value == '45') {
                                return 'SW';
                            } else if (this.value == '90') {
                                return 'W';
                            } else if (this.value == '135') {
                                return 'NW';
                            } else if (this.value == '180') {
                                return 'N';
                            } else if (this.value == '225') {
                                return 'NE';
                            } else if (this.value == '270') {
                                return 'E';
                            } else if (this.value == '315') {
                                return 'SE';
                            }
                        }
                    }
                }],

                series: [{
                    name: 'Degree Head',
                    data: [180],
                    dial: {
                        baseWidth: 4,
                        backgroundColor: '#C33',
                        borderColor: '#900',
                        borderWidth: 1,
                        rearLength: 20,
                        baseLength: 10,
                        radius: 80
                    },
                    tooltip: {
                        enabled: false
                    }
                }, {
                    name: 'Degree Bottom',
                    data: [0],
                    dial: {
                        baseWidth: 4,
                        backgroundColor: '#C33',
                        borderColor: '#900',
                        borderWidth: 1,
                        baseLength: 10,
                        radius: 80
                    },
                    tooltip: {
                        enabled: false
                    }
                }]	

            });

            // remove highcart logo
            removeHighChartLogo();
        };

        /**
         *  This method inits the wind direction speed chart 
         */
        function initWindDirSpeedChart(containerId) {
   			if (typeof (window.windDirSpeedChart) != "undefined") {
                window.windDirSpeedChart.destroy();
            }
                   	
        	window.windDirSpeedChart = new Highcharts.Chart({
		       chart: {
		       	 	renderTo: containerId,
			        polar: true,
			        type: 'column',
		            backgroundColor:'rgba(255, 255, 255, 0.1)',
		            plotBackgroundImage: null,
		            plotBorderWidth: 0,
		            plotShadow: false
			    },
		        
		        exporting: {
		            enabled: false
		        },
		        
		        tooltip: {
		            enabled: false
		        },
			    
			    title: {
			        text: 'Windrichtung / Windgeschwindigkeit',
		            style: {
		                fontSize: '14px'
		            }
			    },	    
			    pane: {
		            size: [11],
		            center: ['50%', '50%']
			    },	    
			        
			    xAxis: {
			    	tickmarkPlacement: 'on'
			    },
		        
		        legend: {
		            enabled: false
		        },
			    plotOptions: {
			        series: {
			        	stacking: 'normal',
			        	shadow: false,
			        	groupPadding: 0,
			        	pointPlacement: 'on'
			        }
			    },
			    xAxis: [{
		            categories: ['N', 'NNO', 'NO', 'ONO', 'O', 'OSO','SO', 'SSO', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'],
		            labels: {
		               style: {
		                   fontSize: '9px'
		               },
		               distance: 9
		            }
		        }],
			    yAxis: {
			        min: 0,
		            max: 11,
		            tickInterval: 1,
			        endOnTick: false,
			        showLastLabel: true,
			        title: {
		                style: {
		                    fontSize: '9px'
		                },
			        	text: 'Beaufort'
			        },
			        labels: {
		                style: {
		                    fontSize: '8px'
		                },
			        	formatter: function () {
			        		return this.value;
			        	}
			        }
			    },	   
		       	series: [{
			            name: 'windTable',
			            type: 'column',
			            data: [0.0, 6.9, 0, 10, 0, 6.5, 3, 7.5, 8.3, 0, 3.9, 4.6, 0, 0, 0, 0]   
			    }]
			});

            // remove highcart logo
            removeHighChartLogo();
        }
        
             /**
         *  This method inits the wave direction speed chart 
         */
        function initWaveDirHeightChart(containerId) {
   			if (typeof (window.waveDirHeightChart) != "undefined") {
                window.waveDirHeightChart.destroy();
            }
                   	
        	window.waveDirHeightChart = new Highcharts.Chart({
        	    	chart: {
        	    		renderTo: containerId,
				        polar: true,
				        type: 'column',
			            backgroundColor:'rgba(255, 255, 255, 0.1)',
			            plotBackgroundImage: null,
			            plotBorderWidth: 0,
			            plotShadow: false
				    },
			        
			        exporting: {
			            enabled: false
			        },
			        
			        tooltip: {
			            enabled: false
			        },
				    
				    title: {
				        text: 'Wellenrichtung / Wellenhöhe',
			            style: {
			                fontSize: '14px'
			            }
				    },	    
				    pane: {
			            size: [11],
			            center: ['50%', '50%']
				    },	    
				        
				    xAxis: {
				    	tickmarkPlacement: 'on'
				    },
			        
			        legend: {
			            enabled: false
			        },
				    plotOptions: {
				        series: {
				        	stacking: 'normal',
				        	shadow: false,
				        	groupPadding: 0,
				        	pointPlacement: 'on'
				        }
				    },
				    xAxis: [{
			            categories: ['N', 'NNO', 'NO', 'ONO', 'O', 'OSO','SO', 'SSO', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'],
			            labels: {
			               style: {
			                   fontSize: '9px'
			               },
			               distance: 9
			            }
			        }],     
				    yAxis: {
				        min: 0,
			            max: 11,
			            tickInterval: 1,
				        endOnTick: false,
				        showLastLabel: true,
				        title: {
			                style: {
			                    fontSize: '9px'
			                },
				        	text: 'Meter'
				        },
				        labels: {
			                style: {
			                    fontSize: '8px'
			                },
				        	formatter: function () {
				        		return this.value;
				        	}
				        }
				    },	
				    series: [{
			            name: 'waveTable',
			            type: 'column',
			            data: [7.0, 6.9, 9.5, 0, 0, 1.5, 0, 7.5, 8.3, 2.3, 1.9, 1.6, 0, 1, 4, 5]   
			        }]
	    		});

            // remove highcart logo
            removeHighChartLogo();
        }
        
        /**
         *  This function initalizes the Air Pressure Chart
         */
        function initAirPressureChart(containerId) {
        	if (typeof (window.airPressureChart) != "undefined") {
                window.airPressureChart.destroy();
            }
           
           	window.airPressureChart = new Highcharts.Chart({
        		chart: {
			        renderTo: containerId,
                    type: 'gauge',
                    backgroundColor:'rgba(255, 255, 255, 0.1)',
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false
			    },
			    pane: {
			    	startAngle: -150,
			    	endAngle: 150,
		            size: [11],
		            center: ['50%', '55%']
			    },
			    exporting: {
		            enabled: false
		        },
		        tooltip: {
		            enabled: false
		        },
		        title: {
		            text: 'Luftdruck',
		            style: {
		                fontSize: '14px'
		            }
		        },
				yAxis: {
					min: 960,
					max: 1060,

		            minorTickInterval: 1,
		            minorTickWidth: 2,
		            minorTickLength: 10,
		            minorTickPosition: 'inside',

		            tickInterval: 20,
		            tickWidth: 3,
		            tickLength: 15,
		            tickPosition: 'inside',
		            
		            labels: {
		                style: {
		                    fontSize: '9px'
		                }
			        },

		            title: {
			            text: 'mBar',
		                y: +15
			        }
				},
			    series: [{
		            name: "score",
		            data: [990],
					dial: {
						radius: "87%",
		                rearLength: "0%"
					}
		         }]
        	});

            // remove highcart logo
            removeHighChartLogo();
        };

        /**
         *  This function initalizes the clouds Chart
         */
        function initCloudsChart(containerId) {
        	if (typeof (window.cloudsChart) != "undefined") {
                window.cloudsChart.destroy();
            }
           
           	window.cloudsChart = new Highcharts.Chart({
        		chart: {
			        renderTo: containerId,
                    type: 'gauge',
                    backgroundColor:'rgba(255, 255, 255, 0.1)',
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false
			    },
				pane: {
		            startAngle: -150,
		            endAngle: 150,
		            size: [11],
		            center: ['50%', '55%']
		        },
		        exporting: {
		            enabled: false
		        },
		        tooltip: {
		            enabled: false
		        },
		        title: {
		            text: 'Bewölkung',
		            style: {
		                fontSize: '14px'
		            }
		        },
		        yAxis: {
		            min: 0,
		            max: 1,

		            minorTickInterval: 0.05,
		            minorTickWidth: 2,
		            minorTickLength: 8,
		            minorTickPosition: 'inside',

		            tickInterval: 0.2,
		            tickWidth: 3,
		            tickLength: 10,
		            tickPosition: 'inside'
		        },
		        series: [{
		            name: "score",
		            data: [0.5],
		            dial: {
		                radius: "90%",
		                rearLength: "0%"
		            }
		        }]
        	});

            // remove highcart logo
           removeHighChartLogo();
        };

		        /**
         *  This function initalizes the temperature Chart
         */
        function initTemperatureChart(containerId) {
        	if (typeof (window.temperatureChart) != "undefined") {
                window.temperatureChart.destroy();
            }          

        	window.temperatureChart = new Highcharts.Chart({
        		chart: {
			        renderTo: containerId,
                    type: 'gauge',
                    backgroundColor:'rgba(255, 255, 255, 0.1)',
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false
			    },
		    	pane: {
			    	startAngle: -150,
			    	endAngle: 150,
		            size: [11],
		            center: ['50%', '55%']
			    },
			    exporting: {
		            enabled: false
		        },
		        tooltip: {
		            enabled: false
		        },
		        title: {
		            text: 'Temperatur',
		            style: {
		                fontSize: '14px'
		            }
		        },
				yAxis: {
					min: -10,
					max: 40,

		            minorTickInterval: 1,
		            minorTickWidth: 1,
		            minorTickLength: 5,
		            minorTickPosition: 'inside',

		            tickInterval: 5,
		            tickWidth: 3,
		            tickLength: 10,
		            tickPosition: 'inside',

		            title: {
			            text: 'C',
		                y: +15
			        },
		            labels: {
		                style: {
		                    fontSize: '10px'
		                },
		                step: 1,
		                distance: -15
		            }
				},
			    series: [{
		            name: "score",
		            data: [10],
					dial: {
						radius: "87%",
		                rearLength: "0%"
					}
		         }]
        	});

            removeHighChartLogo();
        };


        function initSpeedChart(container, data_x, data_y, waypoint_names, waypoint_ids, title, description) {
            $(container).highcharts({
                chart: {
                    height: 250
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var waypoint = $('#waypoint_' + waypoint_ids[this.x]);
                                    scrollToWaypoint(waypoint);
                                }
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                title: {
                    text: title,
                    x: -20 //center
                },
                xAxis: {
                    categories: data_x
                },
                yAxis: {
                    title: {
                        text: 'Speed [kn]'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + description + '</b><br>' + waypoint_names[this.x - 1] + ': ' + this.y + 'kn';
                    }
                },
                series: [{
                    name: description,
                    data: data_y
                }]
            });
            
            removeHighChartLogo();
        }
        
        /*
         * remove initial highchart logo by using an Index for each chart
         */
        function removeHighChartLogo() {
        	if (typeof (window.chartIndex) == "undefined") {
                window.chartIndex = 0;
            } else if (window.chartIndex < 4) {
            	window.chartIndex += 4;
            } else if (window.chartIndex < 14) {
                window.chartIndex += 5;
            } else if (window.chartIndex < 26) {
             	window.chartIndex += 3;
            } else {
            	window.chartIndex += 2;
            }
                        
            $('#highcharts-' + window.chartIndex + ' svg text').last().remove();
        }
    </script>

</body>

</html>