@(Model : de.htwg.seapal.web.models.Logbook)
<!DOCTYPE html>
<html>
<head lang="en">
    <title>SeaPal Logbook</title>
    @logbookContent.header()
</head>
<body>
    <script type="text/javascript">

        $(document).ready(function () {
            var dateFormatShort = "YYYY-MM-DD";
            var dateFormatLong = "YYYY-MM-DD";

            var initialTripId = '@Model.getInitialTripId()';
            var boatId = '505e4b46-517b-4c1e-ac96-3dc32400ff2a';  // for test only

            // compile the HTML templates with Handlebars lib
            var tripTemplate = Handlebars.compile($('#tripTemplate').html());
            var waypointTemplate = Handlebars.compile($('#waypointTemplate').html());
            var ajaxLoaderTemplate = Handlebars.compile($('#ajaxLoaderTemplate').html());
            var loadMoreEntriesTemplate = Handlebars.compile($('#loadMoreEntriesTemplate').html());
            var entryDetailsTemplate = Handlebars.compile($('#entryDetailsTemplate').html());

            var timelineTripTemplate = Handlebars.compile($('#timelineTripTemplate').html());
            var timelineWaypointTemplate = Handlebars.compile($('#timelineWaypointTemplate').html());

            var isLoadingWaypoints = false;

            // load the initial trip
            $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
            logbook.getTripData(initialTripId, onReceivedTrip);

            // load the timeline
            logbook.getAllTripsOfBoat(boatId, onReceivedAllTrips);
            //logbook.getAllWaypointsOfTrip(initialTripId, onReceivedAllWaypointsByTrip);

            function initWaypoint(item, callback) {
                var offset_up = $('#menu_bar').height() - 1;
                var offset_down = offset_up + parseInt($('.logbookEntry').css('min-height'));

                $(item).waypoint(function (direction) {
                    if (direction == "down") {
                        callback($(this));
                    }
                }, { offset: offset_down });

                $(item).waypoint(function (direction) {
                    if (direction == "up") {
                        callback($(this));
                    }
                }, { offset: offset_up });
            }

            // callback of getTripData()
            function onReceivedTrip(tripId, tripData) {
                $('#tripLoader').remove();

                // create the container for this trip
                $('#entries').append(tripTemplate(tripData));

                // lookup previous and next trip
                logbook.getTripsOfBoat(boatId, tripData.startDate, 1, 1, 'true', onReceivedPreviousTrip);  // previous
                logbook.getTripsOfBoat(boatId, tripData.startDate, 1, 1, 'false', onReceivedNextTrip);  // next

                // get the first 5 waypoints of this trip
                loadMoreEntries(tripId, 0);  // 0 = all waypoints
            }

            // callback from getTripsOfBoat, receives a subset of the properties of the previous trip
            function onReceivedPreviousTrip(trips) {
                if (trips.length > 0) {
                    $('#btnLoadPreviousTrip').attr('data-prev-trip', trips[0]._id).show();
                } else {
                    $('#btnLoadPreviousTrip').attr('data-prev-trip', '').hide();
                }
            }
            function onReceivedNextTrip(trips) {
                if (trips.length > 0) {
                    $('#btnLoadNextTrip').attr('data-next-trip', trips[0]._id).show();
                } else {
                    $('#btnLoadNextTrip').attr('data-next-trip', '').hide();
                }
            }


            // callback of logbook.getAllTripsOfBoat
            // Populates the inital timeline
            function onReceivedAllTrips(trips) {
                var timelineContainer = $('.timeline_header');
                $.each(trips, function (index, tripData) {
                    tripData.startDate = moment(new Date(tripData.startDate)).format(dateFormatShort);
                    timelineContainer.append(timelineTripTemplate(tripData));
                });
            }

            // callback of logbook.getAllWaypointsOfTrip
            // Populates the Waypoints for one Trip
            //function onReceivedAllWaypointsByTrip(tripId, waypoints) {
            //	var tripContainer = $('#timeline-trip_container_' + tripId);
            //    $.each(waypoints, function (index, waypointData) {
            //    	waypointData.date = moment(new Date(waypointData.date)).format(dateFormatShort);
            //        tripContainer.append(timelineWaypointTemplate(waypointData));
            //    });
            //}


            // callback of getTripWaypoints()
            function onReceivedWaypoints(tripId, waypoints) {
                var tripContainer = $('#trip_' + tripId);
                var timelineTripContainer = $('#timeline-trip_container_' + tripId);
                // hide ajax loader in this trip container
                $('#entryLoader' + tripId).remove();
                // iterate all received waypoints and append the template to the container of the trip & the timelime
                $.each(waypoints, function (index, waypointData) {
                    // unix timestamp -> formatted time
                    waypointData.date = moment(new Date(waypointData.date)).format(dateFormatShort);

                    // append to trip in timeline panel
                    timelineTripContainer.append(timelineWaypointTemplate(waypointData));

                    // append to trip in entries panel
                    tripContainer.append(waypointTemplate(waypointData));
                    var entryNode = $('#trip_' + tripId + "-entry_" + waypointData._id);
                    initWaypoint(entryNode, onScrolledToWaypoint);
                    entryNode.data('waypointData', waypointData);
                });

                // not last set of waypoints of the trip? show "load more" button
                //if (waypoints.length != 0) {
                //    tripContainer.append(loadMoreEntriesTemplate({ tripId: tripId }));
                //    initWaypoint(tripContainer.children('.loadMoreSection').get(0), onScrolledToLoadMore);
                //}

                // refresh waypoint handlers to new positions of elements
                window.setTimeout(function () { $.waypoints('refresh'); }, 200);
                isLoadingWaypoints = false;
            }

            // loads and appends waypoint entries to a trip
            function loadMoreEntries(tripId, count) {
                if (isLoadingWaypoints)
                    return;

                isLoadingWaypoints = true;
                var tripContainer = $('#trip_' + tripId);
                var loadedEntriesCount = tripContainer.children('.logbookEntry').length;

                // remove "load more" button
                tripContainer.children('.loadMoreSection').remove();
                // show loader for entries:
                tripContainer.append(ajaxLoaderTemplate({ loaderId: 'entryLoader' + tripId }));

                // get the next waypoints of this trip
                logbook.getTripWaypoints(tripId, loadedEntriesCount, count, onReceivedWaypoints);
            }

            // handle clicks on "load more" button
            $('#entries').on('click', 'a.btnLoadMoreEntries', function () {
                loadMoreEntries($(this).attr('data-tripid'), 5);
                return true;
            });

            // handle scrolling to "load more" button
            function onScrolledToLoadMore(node) {
                loadMoreEntries(node.attr('data-tripid'), 5);
            }

            // callback for trip container when scrolled to
            function onScrolledToWaypoint(node) {
                $('.logbookEntry').removeClass("active");
                node.addClass("active");

                $('#detailsText').html(entryDetailsTemplate(node.data('waypointData')));
            }

            // click handlers for loading previous/next trip
            $('#btnLoadPreviousTrip').click(function () {
                var previousTripId = $(this).attr('data-prev-trip');
                if (previousTripId && previousTripId.length > 0) {
                    $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                    logbook.getTripData(previousTripId, onReceivedTrip);
                }
            });
            $('#btnLoadNextTrip').click(function () {
                var nextTripId = $(this).attr('data-next-trip');
                if (nextTripId && nextTripId.length > 0) {
                    $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                    logbook.getTripData(nextTripId, onReceivedTrip);
                }
            });


            // actual script
           // var padding = $(window).height() - parseInt($('.logbookEntry').css('min-height'));
            //$('#entries_col').css('padding-bottom', (padding - 1));
            //$('#entries_col').css('margin-top', $('#menu_bar').css('height'));
            //$('#entries_col').css('top', $('#menu_bar').css('height'));
            //$('#details_col').css('top', $('#menu_bar').css('height'));
            //$('#timeline_col').css('top', $('#menu_bar').css('height'));

            $('.accordion .head').click(function () {
                $(this).next().toggle("slow");
                return true;
            });

            $('#entries').css('margin-bottom', $.waypoints('viewportHeight') + 'px');


            // add handlers for clicks on trips & waypoints in the timeline

            $('#timeline').on('click', 'div.timeline-panel.expandable', function () {     // click on trip header
                var tripId = $(this).attr("id");
                tripId = tripId.replace('timeline-trip_', '');

                // check if this is the active trip
                var tripContainer = $('#trip_' + tripId);
                if (tripContainer.length != 0) {
                    $('#timeline-trip_container_' + tripId).toggle("slow");
                    return true;
                } else {
                    // this trip is currently not loaded -> get it
                    $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                    logbook.getTripData(tripId, onReceivedTrip);
                }

            });

            $('#timeline').on('click', 'div.timeline-panel.clickable', function () {    // click on waypoint item
                var waypointId = $(this).attr("id");
                waypointId = waypointId.replace('timeline-waypoint_', '');
                var entry = $("#waypoint_" + waypointId);
                //console.log("index: "+index);
                var targetOffset = entry.offset().top - 50;

                $('html,body').animate({
                    scrollTop: targetOffset
                }, {
                    complete: function () { onScrolledToWaypoint(entry); }
                },
                'slow'
                );
                return true;
            });

            $('#timeline').dragscrollable();

            if ($('.logbookEntry.active').length <= 0) {
                onScrolledToWaypoint($('.logbookEntry').first());
            }

            //navbar
            menu_hover();
            var lis = $('.nav > li');
            menu_focus(lis[2], 3);

            //hotfix: hrefs didn't work anymore (click returns false anywere?!)
            $('.navbar .nav a').click(function (event) {
                var url = $(this).attr('href');
                //console.log(url);
                window.location = url;
                return true;
            });

            $('#btnApplyFilter').click(function () { window.setTimeout(applyEntryFilters, 500) });

        });  //   /document.ready()


        /**
        * Shows or hides waypoints based on the current filter settings
        */
        function applyEntryFilters() {
            if ($('#optFilterEntries').is(':checked')) {  // filtering enabled?
                // hide all at first
                $('.logbookEntry').addClass('filtered');
                // show items with images 
                if ($('#chkOnlyWithImage').is(':checked'))   
                    $('.logbookEntry.hasImage').removeClass('filtered');
                // show items with notes 
                if ($('#chkOnlyWithNote').is(':checked'))
                    $('.logbookEntry.hasNotes').removeClass('filtered');
            } else {
                // show all items
                $('.logbookEntry').removeClass('filtered'); 
            }
        }

        function menu_hover() {
            var menu_item = $('.nav').find('li');

            menu_item.hover(
                function (e) {
                    var icon = $(this).find('.icon');

                    var left_pos = icon.offset().left - $('.nav').offset().left;
                    var el_width = icon.width() + $(this).find('.text').width() + 10;

                    var hover_bar = $('<div class="active-menu special-active-menu"></div>')
                        .css('left', left_pos)
                        .css('width', el_width)
                        .attr('id', 'special-active-menu-' + $(this).data('slide'));

                    $('.active-menu').after(hover_bar);
                },
                function (e) {
                    $('.special-active-menu').remove();
                }
            );
        }

        function menu_focus(element, i) {
            $('.nav > li').removeClass('active');
            $(element).addClass('active');

            var icon = $(element).find('.icon');

            var left_pos = icon.offset().left - $('.nav').offset().left;
            var el_width = icon.width() + $(element).find('.text').width() + 10;

            $('.active-menu').stop(false, false).animate(
                {
                    left: left_pos,
                    width: el_width
                },
                1500,
                'easeInOutQuart'
            );
        }
    </script>


    <div id="menu_bar">
        @logbookContent.menubar()
    </div>


    <div id="timeline_col">
        @logbookContent.timeline()
    </div>

    @logbookContent.entries()

    <div id="details_col">
        @logbookContent.details()
    </div>

</body>

</html>