@(Model : de.htwg.seapal.web.models.Logbook)
<!DOCTYPE html>
<html>
<head lang="en">
    <title>SeaPal Logbook</title>
    @logbookContent.header()
</head>
<body>
    <script type="text/javascript">
        var map;

        //HTML templates - Handlebars lib
        var tripTemplate;
        var waypointTemplate;
        var ajaxLoaderTemplate;
        var loadMoreEntriesTemplate;
        var entryDetailsTemplate;
        var timelineTripTemplate;
        var timelineWaypointTemplate;

        var dateFormatShort = "YYYY-MM-DD";
        var timeFormat = "h:mm:ss a";

        var isLoadingWaypoints = false;

        var initialTripId = '@Model.getInitialTripId()';
        var boatId = '2dcc6f94-4d01-47d4-a4ed-e5ce9a6be3cf';  // for test only

        var scrollToWaypointTimeout;

        $(document).ready(function () {
            var dateFormatShort = "YYYY-MM-DD";
            var timeFormatShort = "mm:ss:zzz";
            
            // preloaded Images
            var expandImage = new Image();
            var contractImage = new Image();
            expandImage.src = '@routes.Assets.at("images/logbook/expand-icon.png")';
            contractImage.src = '@routes.Assets.at("images/logbook/contract-icon.png")';

            // compile the HTML templates with Handlebars lib
            tripTemplate = Handlebars.compile($('#tripTemplate').html());
            waypointTemplate = Handlebars.compile($('#waypointTemplate').html());
            ajaxLoaderTemplate = Handlebars.compile($('#ajaxLoaderTemplate').html());
            loadMoreEntriesTemplate = Handlebars.compile($('#loadMoreEntriesTemplate').html());
            entryDetailsTemplate = Handlebars.compile($('#entryDetailsTemplate').html());

            timelineTripTemplate = Handlebars.compile($('#timelineTripTemplate').html());
            timelineWaypointTemplate = Handlebars.compile($('#timelineWaypointTemplate').html());

            // load the initial trip
            $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
            $('#timeline').append(ajaxLoaderTemplate({ loaderId: 'tripLoaderTimeline' }));
            $('#details_map').append(ajaxLoaderTemplate({ loaderId: 'tripLoaderMap' }));

            logbook.getTripData(initialTripId, onReceivedTrip);
            // load the timeline
            logbook.getAllTripsOfBoat(boatId, onReceivedAllTrips);
            //logbook.getAllWaypointsOfTrip(initialTripId, onReceivedAllWaypointsByTrip);

            // handle clicks on "load more" button
            $('#entries').on('click', 'a.btnLoadMoreEntries', function () {
                loadMoreEntries($(this).attr('data-tripid'), 5);
                return true;
            });

            // click handlers for loading previous/next trip
            $('#btnLoadPreviousTrip').click(function () {
                var previousTripId = $(this).attr('data-prev-trip');
                if (previousTripId && previousTripId.length > 0) {
                    $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                    logbook.getTripData(previousTripId, onReceivedTrip);
                }
            });
            $('#btnLoadNextTrip').click(function () {
                var nextTripId = $(this).attr('data-next-trip');
                if (nextTripId && nextTripId.length > 0) {
                    $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                    logbook.getTripData(nextTripId, onReceivedTrip);
                }
            });

            // var padding = $(window).height() - parseInt($('.logbookEntry').css('min-height'));
            //$('#entries_col').css('padding-bottom', (padding - 1));
            //$('#entries_col').css('margin-top', $('#menu_bar').css('height'));
            //$('#entries_col').css('top', $('#menu_bar').css('height'));
            //$('#details_col').css('top', $('#menu_bar').css('height'));
            //$('#timeline_col').css('top', $('#menu_bar').css('height'));

            $('.accordion .head').click(function () {
                // change expand image
                var headId = $(this).attr('id');
                var changeImage = document.getElementById(headId.substr(0, headId.lastIndexOf('_')) + '_img');

                if (changeImage.src == expandImage.src) {
                    changeImage.src = contractImage.src;
                } else {
                    changeImage.src = expandImage.src;
                }

                $(this).next().toggle("slow");
                
                return true;
            });

            //add margin to entries column. Otherwise it's not posible to scroll to the last entry
            $('#entries_col').css('margin-bottom', $.waypoints('viewportHeight'));

            // add handlers for clicks on trips & waypoints in the timeline
            $('#timeline').on('click', 'div.timeline-panel.expandable', function () {     // click on trip header
                var tripId = $(this).attr("id");
                tripId = tripId.replace('timeline-trip_', '');

                // check if this is the active trip
                var tripContainer = $('#trip_' + tripId);
                if (tripContainer.length != 0) {
                    $('#timeline-trip_container_' + tripId).toggle("slow");
                    return true;
                } else {
                    // this trip is currently not loaded -> get it
                    $('#entries').html(ajaxLoaderTemplate({ loaderId: 'tripLoader' }));
                    logbook.getTripData(tripId, onReceivedTrip);
                }

            });

            $('#timeline').on('click', 'div.timeline-panel.clickable', function () {    // click on waypoint item
                var waypointId = $(this).attr("id");
                waypointId = waypointId.replace('timeline-waypoint_', '');
                var entry = $("#waypoint_" + waypointId);
                scrollToWaypoint(entry);
                return true;
            });

            $('#timeline').dragscrollable();

            // check a checkbox if the corresponding label is clicked
            $('label').click(function () {
                labelID = $(this).attr('for');
                $('#' + labelID).prop('checked', true);
            });

            //navbar
            menu_hover();
            var lis = $('.nav > li');
            menu_focus(lis[2], 3);

            //hotfix: hrefs didn't work anymore (click returns false anywere?!)
            $('.navbar .nav a').click(function (event) {
                var url = $(this).attr('href');
                //console.log(url);
                window.location = url;
                return true;
            });

            $('#btnApplyFilter').click(function () { window.setTimeout(applyEntryFilters, 500) });

            map = new google.maps.Map(document.getElementById('map_canvas'));

            // click handlers for entry filter buttons
            $('#chkOnlyWithImage, #chkOnlyWithNote').click(function () {
                $(this).toggleClass('active');
                applyEntryFilters();
            });
            $('#timeOffsetToggler').click(function () {
                var currentValue = parseInt($(this).html());
                var newValue = 0;
                if (currentValue == 0)
                    newValue = 5;
                else if (currentValue == 5)
                    newValue = 15;
                else if (currentValue == 15)
                    newValue = 30;
                else if (currentValue == 30)
                    newValue = 60;
                else
                    newValue = 0;

                $(this).html(newValue);
                applyEntryFilters();
            });

            // click handlers for panel toggle buttons in menubar
            $('#timelineToggler').click(function () { $('#timeline_col').toggleClass('forceOpen'); $('#details_col').removeClass('forceOpen'); });
            $('#detailsToggler').click(function () { $('#details_col').toggleClass('forceOpen'); $('#timeline_col').removeClass('forceOpen'); });
            // hide side panels if mouse leaves them
            $('#entries_col').mouseenter(function () { $('#details_col, #timeline_col').removeClass('forceOpen'); })
            $('#entries_col').click(function () { $('#details_col, #timeline_col').removeClass('forceOpen'); })

        });  //   /document.ready()



        function initWaypoint(item, callback) {
            var offset_up = 1;
            var offset_down = $('#menu_bar').css("height") + parseInt($('.logbookEntry').css('min-height')) + 1;

            item.waypoint(function (direction) {
                if (direction == "down") {
                    if(typeof(scrollToWaypointTimeout) != undefined) {
                        clearTimeout ( scrollToWaypointTimeout ) ;
                    }
                    scrollToWaypointTimeout = setTimeout(function(){callback(item)}, 200);
                }
            }, { offset: offset_down });

            item.waypoint(function (direction) {
                if (direction == "up") {
                    if(typeof(scrollToWaypointTimeout) != undefined) {
                        clearTimeout ( scrollToWaypointTimeout ) ;
                    }
                    scrollToWaypointTimeout = setTimeout(function(){callback(item)}, 200);
                }
            }, { offset: offset_up });
        }

        // callback of getTripData()
        function onReceivedTrip(tripId, tripData) {
            // format data
            tripData.formattedStartDate = moment(new Date(tripData.startDate)).format(dateFormatShort + " " + timeFormat);
            tripData.formattedEndDate = moment(new Date(tripData.endDate)).format(dateFormatShort + " " + timeFormat);

            $('#tripLoader').remove();
            $('#tripLoaderTimeline').remove();
            $('#tripLoaderMap').remove();

            // create the container for this trip
            $('#entries').append(tripTemplate(tripData));

            var trip_header = $('#trip_header_' + tripId);
            initWaypoint(trip_header, onScrolledToTripHeader);
            trip_header.data("tripData",tripData);

            // lookup previous and next trip
            logbook.getTripsOfBoat(boatId, tripData.startDate, 1, 1, 'true', onReceivedPreviousTrip);  // previous
            logbook.getTripsOfBoat(boatId, tripData.startDate, 1, 1, 'false', onReceivedNextTrip);  // next

            //convert tripData.marks in array with lat lon objects
            var map_waypoints = [];
            for (i = 0; i < tripData.marks.length; i = i + 2) {
                map_waypoints[i / 2] = new google.maps.LatLng(tripData.marks[i], tripData.marks[i + 1]);
            }

            initialize_waypoints(map_waypoints);

            setMarkerClickFunction(clicked_on_marker);

            // get the first 5 waypoints of this trip
            loadMoreEntries(tripId, 0);  // 0 = all waypoints
        }

        // callback from getTripsOfBoat, receives a subset of the properties of the previous trip
        function onReceivedPreviousTrip(trips) {
            if (trips.length > 0) {
                $('#btnLoadPreviousTrip').attr('data-prev-trip', trips[0]._id).show();
            } else {
                $('#btnLoadPreviousTrip').attr('data-prev-trip', '').hide();
            }
        }

        function onReceivedNextTrip(trips) {
            if (trips.length > 0) {
                $('#btnLoadNextTrip').attr('data-next-trip', trips[0]._id).show();
            } else {
                $('#btnLoadNextTrip').attr('data-next-trip', '').hide();
            }
        }

        // callback of logbook.getAllTripsOfBoat
        // Populates the inital timeline
        function onReceivedAllTrips(trips) {
            var timelineContainer = $('.timeline_header');
            $.each(trips, function (index, tripData) {
                tripData.startDate = moment(new Date(tripData.startDate)).format(dateFormatShort);
                timelineContainer.append(timelineTripTemplate(tripData));
            });
        }

        // callback of logbook.getAllWaypointsOfTrip
        // Populates the Waypoints for one Trip
        //function onReceivedAllWaypointsByTrip(tripId, waypoints) {
        //	var tripContainer = $('#timeline-trip_container_' + tripId);
        //    $.each(waypoints, function (index, waypointData) {
        //    	waypointData.date = moment(new Date(waypointData.date)).format(dateFormatShort);
        //        tripContainer.append(timelineWaypointTemplate(waypointData));
        //    });
        //}


        // callback of getTripWaypoints()
        function onReceivedWaypoints(tripId, waypoints) {
            var tripContainer = $('#trip_' + tripId);
            var timelineTripContainer = $('#timeline-trip_container_' + tripId);
            var trip_header = $('#trip_header_' + tripId);

            var tripData = trip_header.data("tripData");
            var title = 'Speed - '+tripData.name;
            var description = tripData.from+" to "+tripData.to
            var waypoint_names = [];
            var waypoint_ids = [];
            var data_y = [];
            var data_x = []

            // hide ajax loader in this trip container
            $('#entryLoader' + tripId).remove();
            //console.log(waypoints);
            // iterate all received waypoints and append the template to the container of the trip & the timelime
            $.each(waypoints, function (index, waypointData) {
                // unix timestamp -> formatted time
                waypointData.formattedDate = moment(new Date(waypointData.date)).format(dateFormatShort);
                waypointData.formattedTime = moment(new Date(waypointData.date)).format(timeFormat);

                // append to trip in timeline panel
                timelineTripContainer.append(timelineWaypointTemplate(waypointData));

                // append to trip in entries panel
                tripContainer.append(waypointTemplate(waypointData));
                var entryNode = $('#waypoint_' + waypointData._id);
                entryNode.data('waypointData', waypointData);
                initWaypoint(entryNode, onScrolledToWaypoint);

                data_x.push(index+1);
                data_y.push(parseFloat(waypointData.sog));
                waypoint_names.push(waypointData.name);
                waypoint_ids.push(waypointData._id);
            });

            // not last set of waypoints of the trip? show "load more" button
            //if (waypoints.length != 0) {
            //    tripContainer.append(loadMoreEntriesTemplate({ tripId: tripId }));
            //    initWaypoint(tripContainer.children('.loadMoreSection').get(0), onScrolledToLoadMore);
            //}

            // refresh waypoint handlers to new positions of elements
            window.setTimeout(function () { $.waypoints('refresh'); }, 200);
            isLoadingWaypoints = false;

            $('.logbookEntry').click(function (e) {
                if($(e.target).is('img')){
                    e.preventDefault();
                    return;
                }
                scrollToWaypoint($(this));
            });

            initSpeedChart($('#details_chart'), data_x, data_y, waypoint_names, waypoint_ids, title, description);
        }

        // loads and appends waypoint entries to a trip
        function loadMoreEntries(tripId, count) {
            if (isLoadingWaypoints) {
                return;
            }

            isLoadingWaypoints = true;
            var tripContainer = $('#trip_' + tripId);
            var loadedEntriesCount = tripContainer.children('.logbookEntry').length;

            // remove "load more" button
            tripContainer.children('.loadMoreSection').remove();
            // show loader for entries:
            tripContainer.append(ajaxLoaderTemplate({ loaderId: 'entryLoader' + tripId }));

            // get the next waypoints of this trip
            logbook.getTripWaypoints(tripId, loadedEntriesCount, count, onReceivedWaypoints);
        }

        // handle scrolling to "load more" button
        function onScrolledToLoadMore(node) {
            loadMoreEntries(node.attr('data-tripid'), 5);
        }

        // callback for trip container when scrolled to
        function onScrolledToWaypoint(node) {
            $('#details_chart' ).css("display", "none");
            $('.logbookEntry').removeClass("active");
            node.addClass("active");

            // change details
            var waypointData = node.data('waypointData');
            if (typeof (waypointData) != "undefined") {
                waypointData.latRounded = ('' + waypointData.lat).substr(0, 7);
                waypointData.lngRounded = ('' + waypointData.lng).substr(0, 7);
            }
            $('#details_text').html(entryDetailsTemplate(waypointData));

			// create charts
			initSOGSpeedometer('speedometer_sog');
			initCOGCompass('compass_cog');

			if (typeof(window.sogChart) != "undefined") {
				var point = window.sogChart.series[0].points[0];
				var newVal = waypointData.sog.substr(0,waypointData.sog.lastIndexOf(' '));
				point.update(parseFloat(newVal));
				window.sogChart.redraw();
			}

			if (typeof(window.cogChart) != "undefined") {
				var pointH = window.cogChart.series[0].points[0];
				var pointB = window.cogChart.series[1].points[0];
				var newValH = parseFloat(waypointData.cog.substr(0,waypointData.sog.lastIndexOf(' ')));
				var newValB = newValH - 180;
				if (newValB < 0) {
					newValB = 360 + newValB;
				}
				pointH.update(newValH);
				pointB.update(newValB);
				window.cogChart.redraw();
			}

            // mark waypoint in Map
            if (typeof (map) != "undefined" && typeof (waypointData) != "undefined") {
                highlight_waypoint(new google.maps.LatLng(waypointData.lat, waypointData.lng));
            }
        }

        function onScrolledToTripHeader(node) {
            $('.logbookEntry').removeClass("active");

            $('#details_text').html(entryDetailsTemplate());
            //zoom out map
            reset_map_zoom();

            $('#details_chart' ).css("display", "block");
        }

        /**
        * Shows or hides waypoints based on the current filter settings
        */
        function applyEntryFilters() {
            var onlyImages = $('#chkOnlyWithImage').hasClass('active');
            var onlyNotes = $('#chkOnlyWithNote').hasClass('active');
            var minTimePeriod = parseInt($('#timeOffsetToggler').html()) * 60 * 1000;   // min to msec    
            var lastTimestamp = -1;

            // iterate over all waypoints in entry view & timeline
            $('.logbookEntry').each(function (index, value) {
                var item = $(value);  // waypoint entry in entries view
                var waypointData = item.data('waypointData'); // DB object
                var timelineItem = $('#timeline-wp-container_' + waypointData._id);  // corresponding entry in timeline

                // skip item if not at least [minTimePeriod] minutes between this and the last item
                if (minTimePeriod > 0 && lastTimestamp > (parseInt(waypointData.date) - minTimePeriod)) {
                    item.addClass('filtered');
                    timelineItem.addClass('filtered');
                    return;
                }
                lastTimestamp = parseInt(waypointData.date);

                if (onlyImages && !$(item).hasClass('hasImage')) {
                    item.addClass('filtered');
                    timelineItem.addClass('filtered');
                } else if (onlyNotes && !$(item).hasClass('hasNote')) {
                    item.addClass('filtered');
                    timelineItem.addClass('filtered');
                } else { // show item
                    item.removeClass('filtered');
                    timelineItem.removeClass('filtered');
                }

            });
            // refresh waypoint handlers to new positions of elements
            window.setTimeout(function () { $.waypoints('refresh'); }, 750);
        }

        function scrollToWaypoint(waypoint){
            $('.logbookEntry' ).waypoint('disable');
            var offset = $(waypoint).offset().top - parseInt($('#menu_bar').css('height'));
            $('html, body').animate({
               scrollTop: offset
            },{
                done: function(){
                    onScrolledToWaypoint(waypoint);
                    $('.logbookEntry' ).waypoint('enable');
                }
            }, 'slow');
        }

        function clicked_on_marker(marker){
            var lat = marker.getPosition().lat();
            var lng = marker.getPosition().lng();
            var waypoint = getWaypointFromPosition(lat, lng);
            if(typeof(waypoint) !=  "undefind"){
                scrollToWaypoint(waypoint);
            }
        }

        function getWaypointFromPosition(lat, lng){
            var waypoint;
            //console.log("lat: "+lat+" lng: "+lng);

            //hotfix: the longitude differs for some strange reasons... only after the 9th digit.
            //(object received with getTripData have different longitudes as objects received with getTripWaypoints?!)
            lng = lng.toFixed(9);
            $.each($(".logbookEntry"), function() {
                var waypointData = $(this ).data().waypointData;
                var match = (waypointData.lat == lat) && (waypointData.lng.toFixed(9) == lng);
                //console.log("lat: "+waypointData.lat+" lng: "+waypointData.lng);
                //console.log(match);
                if(match){
                    waypoint = $(this);
                    return false;
                }
            });
            return waypoint;
        }
        
        /**
         *  This function initalizes the SOG Chart
         */
        function initSOGSpeedometer(containerId) {
        	if (typeof(window.sogChart) != "undefined") {
        		window.sogChart.destroy();
        	}
        	if (typeof(window.chartIndex) == "undefined") {
        		window.chartIndex = 0;
        	} else {
        		window.chartIndex += 5;
        	}
        	
        	window.sogChart = new Highcharts.Chart({
			    chart: {
			    	renderTo: containerId,
			        type: 'gauge',
			        alignTicks: false,
			        plotBackgroundColor: null,
			        plotBackgroundImage: null,
			        plotBorderWidth: 0,
			        plotShadow: false
			    },
			    
			    title: {
			        text: '',
			        style: {
				        display: 'none'
				    }
			    },
			    
			    pane: {
			        startAngle: -150,
			        endAngle: 150,
			        center: ['50%', '50%'],
			        background: [{
			            backgroundColor: {
			                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
			                stops: [
			                    [0, '#FFF'],
			                    [1, '#333']
			                ]
			            },
			            borderWidth: 0,
			            outerRadius: '109%'
			        }, {
			            backgroundColor: {
			                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
			                stops: [
			                    [0, '#333'],
			                    [1, '#FFF']
			                ]
			            },
			            borderWidth: 1,
			            outerRadius: '107%'
			        }, {
			            // default background
			        }, {
			            backgroundColor: '#DDD',
			            borderWidth: 0,
			            outerRadius: '105%',
			            innerRadius: '103%'
			        }]
			    },
			       
			    // the value axis
			    yAxis: {
			        min: 0,
			        max: 50,
			        
			        minorTickInterval: 'auto',
			        minorTickWidth: 1,
			        minorTickLength: 10,
			        minorTickPosition: 'inside',
			        minorTickColor: '#666',
			
			        tickPixelInterval: 30,
			        tickWidth: 2,
			        tickPosition: 'inside',
			        tickLength: 10,
			        tickColor: '#666',
			        labels: {
			            step: 1,
			            style: {
			            	 fontSize: '8px',
			            	 distance: -15
			            }
			        },
			        title: {
			            text: 'kn',
			            y: 20
			        },
			        plotBands: [{
			            from: 0,
			            to: 30,
			            color: '#55BF3B' // green
			        }, {
			            from: 30,
			            to: 40,
			            color: '#DDDF0D' // yellow
			        }, {
			            from: 40,
			            to: 50,
			            color: '#DF5353' // red
			        }]   
			    },
			    
		        tooltip: {
		            enabled: false
		        },      
			    
			    exporting: {
         			enabled: false
				},
			    
			    series: [{
			        name: 'SOG',
			        data: [100],
			        tooltip: {
			        	enabled: false
			        }
			    }]
			
			});
			
			// remove highcart logo
            $('#highcharts-' + window.chartIndex + ' svg text').last().remove();
        }
        
        
        /**
         *  This function initalizes the Compass Chart
         */
        function initCOGCompass(containerId) {
        	if (typeof(window.cogChart) != "undefined") {
        		window.cogChart.destroy();
        	}
        	if (typeof(window.chartIndex) == "undefined") {
        		window.chartIndex = 0;
        	} else {
        		window.chartIndex += 5;
        	}
        	
        	window.cogChart = new Highcharts.Chart({

			    chart: {
			    	renderTo: containerId,
			        type: 'gauge',
			        plotBackgroundColor: null,
			        plotBackgroundImage: null,
			        plotBorderWidth: 0,
			        plotShadow: false
			    },
			    
			    exporting: {
         			enabled: false
				},
				
				tooltip: {
		            enabled: false
		        },
				
				title: {
			        text: '', 
			        style: {
				        display: 'none'
				    }
			    },
			    pane: {
			        startAngle: -180,
			        endAngle: 180,
			        size: [10],
		            center: ['50%', '50%'],
			        background: [{
		                backgroundColor: {
		                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
		                    stops: [
		                        [0, '#FFF'],
		                        [1, '#333']
		                    ]
		                },
		                borderWidth: 0,
		                outerRadius: '109%'
		            }, {
		                backgroundColor: {
		                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
		                    stops: [
		                        [0, '#333'],
		                        [1, '#FFF']
		                    ]
		                },
		                borderWidth: 1,
		                outerRadius: '107%'
		            }, {
		                backgroundColor: {
		                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
		                    stops: [
		                        [0, '#666'],
		                        [1, '#0c0c0c']
		                    ]
		                },
		                borderWidth: 1,
		                outerRadius: '107%'
		            }, {
		                backgroundColor: '#DDD',
		                borderWidth: 1,
		                outerRadius: '105%',
		                innerRadius: '104%'
		            }]
			    },
			       
			    // the value axis
			    yAxis: [{
		            showLastLabel: false,
		            
			        min: 0,
			        max: 360,
			        
			        minorTickInterval: 'auto',
			        minorTickWidth: 1,
			        minorTickLength: 5,
			        minorTickPosition: 'inside',
			        minorTickColor: '#fff',
			
			        tickPixelInterval: 30,
			        tickWidth: 2,
			        tickPosition: 'inside',
			        tickLength: 8,
			        tickColor: '#fff',
			        labels: {
		                style: {
		                     color: '#fff',
		                     fontSize: '8px'
		                },
			            step: 2,
		                distance: -15
		            }
			    },{
		            categories: ['N'],
		            offset: 10,  
		            min: 0,
			        max: 360,
		            
		            minorTickLength: 0,
		            
		            tickInterval: 45,
			        tickWidth: 2,
			        tickPosition: 'outside',
			        tickLength: 3,
			        tickColor: '#000',
		                               
			        labels: {
		                style: {
		                    fontSize: '12px',
		                    color: '#000'
		                },
		                formatter: function() {
		                    if (this.value == 'N' || this.value == 'O' || this.value == '360') {
		                        return 'N';
		                    } else if (this.value == '45') {
		                        return 'NE';
		                    } else if (this.value == '90') {
		                        return 'E';
		                    } else if (this.value == '135') {
		                        return 'SE';
		                    } else if (this.value == '180') {
		                        return 'S';
		                    } else if (this.value == '225') {
		                        return 'SW';
		                    } else if (this.value == '270') {
		                        return 'W';
		                    } else if (this.value == '315') {
		                        return 'NW';
		                    }
		                },
		                distance: 15
		            }
			    }],
		        
			    series: [{
			        name: 'Degree Head',
			        data: [180],
		            dial: {
		                    baseWidth: 4,
		                    backgroundColor: '#C33',
		                    borderColor: '#900',
		                    borderWidth: 1,
		                    rearLength: 20,
		                    baseLength: 10,
		                    radius: 80
		           },
		           tooltip: {
		           		enabled: false
			       }        
			    }, {
			        name: 'Degree Bottom',
			        data: [0],
		            dial: {
		                    baseWidth: 4,
		                    backgroundColor: '#C33',
		                    borderColor: '#900',
		                    borderWidth: 1,
		                    baseLength: 10,
		                    radius: 80
		           },
		           tooltip: {
			            enabled: false
			       }        
			    }]
			
			});
			
			// remove highcart logo
            $('#highcharts-' + window.chartIndex + ' svg text').last().remove();
		};

        function initSpeedChart(container, data_x, data_y, waypoint_names, waypoint_ids, title, description){
            $(container).highcharts({
                chart: {
                    height: 250
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function() {
                                    var waypoint = $('#waypoint_'+waypoint_ids[this.x]);
                                    scrollToWaypoint(waypoint);
                                }
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                title: {
                    text: title,
                    x: -20 //center
                },
                xAxis: {
                    categories: data_x
                },
                yAxis: {
                    title: {
                        text: 'Speed [kn]'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function() {
                        return  '<b>'+description+'</b><br>'+ waypoint_names[this.x-1] +': '+ this.y +'kn';
                    }
                },
                series: [{
                    name: description,
                    data: data_y
                }]
            });
            // remove highchart logo
            $('#highcharts-' + window.chartIndex + ' svg text').last().remove();
        }
    </script>

    <div id="menu_bar">
        @logbookContent.menubar()
    </div>


    <div id="timeline_col">
        @logbookContent.timeline()
    </div>

    @logbookContent.entries()

    <div id="details_col">
        @logbookContent.details()
    </div>

</body>

</html>