@(tripId: String)

<!DOCTYPE html>
<html>
<head lang="en">
    @logbookContent.header()
    
    <style type="text/css">
    .waypointEntry {
    	border-bottom: 1px solid gray;
    	background-color: lightgray;
    	margin-top: 20px;
    	height: 300px;
    }
    
    #waypointList {
	    width: 50%;
	    border: blue;
	    float: left;
    	height: 500px;
    	overflow: auto;
    }
    </style>
</head>
<body>
 <div class="container">
 
	<h2 id="tripTitle"></h1>
	<b>Skipper: </b><span id="tripSkipper"></span>
	<br /><br />
	<div id="tripNotes"></div>
	
	<div id="waypointList">
		<div id="waypointListEntries">
		</div>
		<br />
		
		<div style="height: 300px">&nbsp;</div>
		<button id="btnLoadMore" type="button" class="btn btn-primary btn-lg" style="display: none">Load more...</button>
		<div style="height: 300px">&nbsp;</div>
	</div>
	
	You're watching: <span id="wpName" style="color: red"></span>
	<img id="waypointImg" />
	
	</div>
	
	
</body>

<script type="text/javascript">

var loadedWaypoints = [];
var waypointCount = 0;

function waypointHandler() {
	var wpId = $(this).attr('id');
	document.title = wpId;
	$('#waypointImg').attr('src', loadedWaypoints[wpId].image_thumb);
	$('#wpName').html(loadedWaypoints[wpId].name);
	
}

function onReceivedTripData(tripId, tripData) {
	$('#tripTitle').text(tripData.name);
	$('#tripSkipper').text(tripData.skipper);
	$('#tripNotes').text(tripData.notes);
}

function onReceivedTripWaypoints(tripId, waypoints) {
	var showButton = (waypointCount == 0);
	
	waypointCount += waypoints.length;
	$('#btnLoadMore').show();
	if (waypoints.length == 0) {
		$('#btnLoadMore').hide();
	}
	
	$.each(waypoints, function (index, value) {
		var wpId = 'wp' + value._id;
		loadedWaypoints[wpId] = value;
		$('#waypointListEntries').append($('<div id="' + wpId +  '" class="waypointEntry">' + value.name + '</div>'));
		$('#' + wpId).waypoint(waypointHandler, {context: '#waypointList', offset: 250});
	});
	
	if( showButton) {
		$('#btnLoadMore').waypoint(reloadData, {context: '#waypointList', offset: 250});
	}
}

function reloadData() {
	logbook.getTripWaypoints('@tripId', waypointCount, 5, onReceivedTripWaypoints);
}

$(document).ready(function () {
	logbook.getTripData('@tripId', onReceivedTripData);
	logbook.getTripWaypoints('@tripId', waypointCount, 5, onReceivedTripWaypoints);
	
	
	
	
	$('#btnLoadMore').click(function () {
		//window.alert('loading 5 waypoints beginning at index ' + waypointCount);  
		logbook.getTripWaypoints('@tripId', waypointCount, 5, onReceivedTripWaypoints);
	});
});
</script>

</html>

