<!-- Modal -->
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Information</h4>
            </div>
            <div class="modal-body">
            Seapal is developed in a cooperation between IBN Verlag and the University of Applied Science Konstanz (HTWG).
            <br/>
            Further information and a user guide are available at seapal.info.
            <br/>
            For new, follow Seapal at Google+
            <br/>
            Please support our project and rate Seapal in the App Store
            <br/>
            The weather layer is provided by openportguide.org
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->