<script id='template-friendRequests' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-friendRequests action' data-from='{{from}}' data-type='friendRequests' id='friendRequests{{id}}'>{{from}}</a></li>
</script>

<script id='template-person' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelected-person action {{type}}{{id}}' data-id='{{id}}' data-type='{{type}}'>{{email}}</a></li>
</script>

<script id='template-createdRoute' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-selected-route action {{type}}{{id}}' data-id='{{id}}' data-type='{{type}}'>{{name}}</a></li>
</script>

<script id='template-createdTrip' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-selected-trip action {{type}}{{id}}' data-id='{{id}}' data-type='{{type}}'>{{name}}</a></li>
</script>

<script id='template-createdMark' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-selected-mark action {{type}}{{id}}' data-id='{{id}}' data-type='{{type}}'>{{name}}</a></li>
</script>

<script id='template-loadedRoute' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelected-route action {{type}}{{id}}' data-id='{{id}}' data-type='{{type}}'>{{name}}</a></li>
</script>

<script id='template-loadedTrip' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelected-trip action {{type}}{{id}}' data-id='{{id}}' data-type='{{type}}'>{{name}}</a></li>
</script>

<script id='template-loadedMark' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelected-mark action {{type}}{{id}}' data-id='{{id}}' data-type='{{type}}'>{{name}}</a></li>
</script>

<script id='template-loadedBoat' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelected-boat action {{type}}{{id}}' data-id='{{id}}' data-type='{{type}}'>{{name}}</a></li>
</script>

<script id='template-logbook' type='text/x-handlebars-template'>
    <li><a class='menu-logbook selected-logbook action {{type}}{{id}}' id='{{type}}{{id}}' data-id='{{id}}' data-type='{{type}}>show TODO{{name}}</a></li>
</script>

<script id='template-SearchPlaces' type='text/x-handlebars-template'>
    {{#if error}}
        <li class='heading'>
            <div class='heading1'>
                {{error}}
            </div>
        </li>
    {{else}} {{#if status.SEARCHING_PLACES}}
        <li class='description'>
                Type in a Place and hit enter to start...
            </div>
        </li>
    {{else}} {{#if status.SEARCHING_COORDINATES}}
        <li class='description'>
                Type in Coordinates and hit enter to start...<br/>
                First Latitude with format xx&deg;xx.xx N/S<br/>
                Second Longitude with format xxx&deg;xx.xx W/E
        </li>
        <li><a class='tools-icon icon-actualPositionSearch action'>Search from my current position</a></li>
    {{else}} {{#if status.SEARCHING_COORDINATES_INCOMPLETE}}
        <li class='description'>
                Your input is not complete..<br/>
                First Latitude with format xx&deg;xx.xx N/S<br/>
                Second Longitude with format xxx&deg;xx.xx W/E
        </li>
    {{else}} {{#if status.SEARCHING_POIS}}
        <li class='description'>
                Search for Points of Interest is actually not supported in the webapp. Please try our Apple or Android app for this feature.
        </li>
    {{else}} {{#if status.ZERO_RESULTS}}
        <li class='heading'>
            <div class='heading1'>
                No result found for this query...
            </div>
        </li>
    {{else}} {{#if status.OVER_QUERY_LIMIT}}
        <li class='heading'>
            <div class='heading1'>
                Too many request, try later again...
            </div>
        </li>
    {{else}} {{#if status.PLACES_COORDINATE}}
        <li><a class='tools-icon icon-searchedPlace action' data-lat={{coord.lat}} data-lng={{coord.lon}}>{{cutStringLength name}}</a></li>
    {{else}} {{#if status.OK}}
        {{#each SearchPlaces}}
            <li><a class='tools-icon icon-searchedPlace action' data-lat={{getLat geometry}} data-lng={{getLng geometry}}>{{cutStringLength name}}</a></li>
        {{/each}}
        {{#each SearchCoordinates}}
            <li><a class='tools-icon icon-searchedCoordinate action' data-lat={{getLat geometry}} data-lng={{getLng geometry}}>{{cutStringLength formatted_address}}</a></li>
        {{/each}}
    {{else}}
        <li class='heading'>
            <div class='heading1'>
                An unknown error occurred, try later again...
            </div>
        </li>
    {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
    
    {{#if history}}
        <li class='heading'>
            <div class='heading1'>
                Previous Searches
            </div>
        </li>
        {{#each history}}
            <li><a class='tools-icon icon-previousSearch action' data-type={{../type}} data-search='{{this}}'>{{cutStringLength this}}</a></li>
        {{/each}}
    {{/if}}
</script>
