<script id='template-friendRequests' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-friendRequests action' data-id='{{owner}}' data-type='friendRequests' id='friendRequests{{owner}}'>{{firstname}} {{lastname}}</a></li>
</script>

<script id='template-person' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelectedPerson action' data-id='{{id}}' data-type='{{type}}' id='{{type}}{{id}}'>{{firstname}} {{lastname}}</a></li>
</script>

<script id='template-createdRoute' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-selectedRoute action' data-id='{{id}}' data-type='{{type}}' id='{{type}}{{id}}'>{{name}}</a></li>
</script>

<script id='template-createdTrack' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-selectedTrack action' data-id='{{id}}' data-type='{{type}}' id='{{type}}{{id}}'>{{name}}</a></li>
</script>

<script id='template-createdMark' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-selectedMark action' data-id='{{id}}' data-type='{{type}}' id='{{type}}{{id}}'>{{name}}</a></li>
</script>

<script id='template-loadedRoute' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelectedRoute action' data-id='{{id}}' data-type='{{type}}' id='{{type}}{{id}}'>{{name}}</a></li>
</script>

<script id='template-loadedTrack' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelectedTrack action' data-id='{{id}}' data-type='{{type}}' id='{{type}}{{id}}'>{{name}}</a></li>
</script>

<script id='template-loadedMark' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelectedMark action' data-id='{{id}}' data-type='{{type}}' id='{{type}}{{id}}'>{{name}}</a></li>
</script>

<script id='template-loadedBoat' type='text/x-handlebars-template'>
    <li><a class='menu-icon icon-notSelectedBoat action' data-id='{{id}}' data-type='{{type}}' id='{{type}}{{id}}'>{{name}}</a></li>
</script>

<script id='template-SearchPlaces' type='text/x-handlebars-template'>   
    {{#if error}}
        <li class='heading'>
            <div class='heading1'>
                {{error}}
            </div>
        </li>
    {{else}} {{#if status.SEARCHING_PLACES}}
        <li class='description'>
                Type in a Place and hit enter to start...
            </div>
        </li>
    {{else}} {{#if status.SEARCHING_COORDINATES}}
        <li class='description'>
                Type in Coordinates and hit enter to start...<br/>
                First Latitude with format xx&deg;xx.xx N/S<br/>
                Second Longitude with format xxx&deg;xx.xx W/E
        </li>
        <li><a class='tools-icon icon-actualPositionSearch action'>Search from my actual position</a></li>
    {{else}} {{#if status.SEARCHING_COORDINATES_INCOMPLETE}}
        <li class='description'>
                Your input is not complete..<br/>
                First Latitude with format xx&deg;xx.xx N/S<br/>
                Second Longitude with format xxx&deg;xx.xx W/E
        </li>
    {{else}} {{#if status.SEARCHING_POIS}}
        <li class='description'>
                Search for Points of Interest is actually not supported in the webapp. Please try our Apple or Android app for this feature.
        </li>
    {{else}} {{#if status.ZERO_RESULTS}}
        <li class='heading'>
            <div class='heading1'>
                No result found for this query...
            </div>
        </li>
    {{else}} {{#if status.OVER_QUERY_LIMIT}}
        <li class='heading'>
            <div class='heading1'>
                Too many request, try later again...
            </div>
        </li>
    {{else}} {{#if status.OK}}
        {{#each SearchPlaces}}
            <li><a class='tools-icon icon-searchedPlace action' data-lat={{getLat geometry}} data-lng={{getLng geometry}}>{{cutStringLength name}}</a></li>
        {{/each}}
        {{#each SearchCoordinates}}
            <li><a class='tools-icon icon-searchedCoordinate action' data-lat={{getLat geometry}} data-lng={{getLng geometry}}>{{cutStringLength formatted_address}}</a></li>
        {{/each}}
    {{else}}
        <li class='heading'>
            <div class='heading1'>
                An unknown error occurred, try later again...
            </div>
        </li>
    {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
    
    {{#if history}}
        <li class='heading'>
            <div class='heading1'>
                Previous Searches
            </div>
        </li>
        {{#each history}}
            <li><a class='tools-icon icon-previousSearch action' data-type={{../type}} data-search='{{this}}'>{{cutStringLength this}}</a></li>
        {{/each}}
    {{/if}}
</script>
