<script id="template-routes" type="text/x-handlebars-template">
    {{#each this}}
        <li><a class='menu-icon icon-selectedRoute action' data-id={{id}}>{{label}}</a></li>
    {{/each}}
</script>

<script id="template-marks" type="text/x-handlebars-template">
    {{#each this}}
        <li><a class='menu-icon icon-selectedMark action' data-id={{id}}>{{label}}</a></li>
    {{/each}}
</script>

<script id="template-SearchPlaces" type="text/x-handlebars-template">   
    {{#if status.SEARCHING_PLACES}}
        <li class="heading">
            <div class="heading1">
                Hit enter to start your search...
            </div>
        </li>
    {{else}} {{#if status.SEARCHING_COORDINATES}}
        <li class="heading">
            <div class="heading1">
                Type in Coordinates and hit enter to start...<br/>
                First Lat with format xx'xx.xx N/S<br/>
                Second Lon with format xx'xx.xx W/E
            </div>
        </li>
    {{else}} {{#if status.SEARCHING_COORDINATES_INCOMPLETE}}
        <li class="heading">
            <div class="heading1">
                Your input is not complete..<br/>
                First Lat with format xx'xx.xx N/S<br/>
                Second Lon with format xx'xx.xx W/E
            </div>
        </li>
    {{else}} {{#if status.SEARCHING_POIS}}
        <li class="heading">
            <div class="heading1">
                Hit enter to start your search...
            </div>
        </li>
    {{else}} {{#if status.ZERO_RESULTS}}
        <li class="heading">
            <div class="heading1">
                No result found for this query...
            </div>
        </li>
    {{else}} {{#if status.OVER_QUERY_LIMIT}}
        <li class="heading">
            <div class="heading1">
                Too many request, try later again...
            </div>
        </li>
    {{else}} {{#if status.OK}}
        {{#each SearchPlaces}}
            <li><a class="tools-icon icon-toolsNone action">{{cutStringLength name}}</a></li>
        {{/each}}
        {{#each SearchCoordinates}}
            <li><a class="tools-icon icon-toolsNone action">{{cutStringLength formatted_address}}</a></li>
        {{/each}}
    {{else}}
        <li class="heading">
            <div class="heading1">
                An unknown error occurred, try later again...
            </div>
        </li>
    {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
</script>
