@(form: Form[de.htwg.seapal.model.impl.Person], link: play.api.mvc.Call)
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv='content-type' content='text/html; charset=utf-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name='keywords' content='sea navigation, Seapal, sign up'/>
        <meta name='description' content='Create an account for Seapal.'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>SeaPal Sign Up</title>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")" />
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/signInSeapal.css")" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/modalOutput/modalOutput.js")"></script>
    </head>

    <body>
        <div class="account-wall">
            <img class="profile-img" src="@routes.Assets.at("images/seapal_launcher.png")" alt="Seapal">
            @if(flash.contains("errors")) {
                <div class="error-message">
                    <p>@flash.get("errors")</p>
                </div>
            }
            @helper.form(link, 'class -> "form-signInSeapal") {
                <!--input type="text" class="form-control" name="accountName" placeholder="Choose your Username" required autofocus-->
                <input type="text" class="form-control" name="email" placeholder="Enter your Email" required autofocus>
                <input type="password" class="form-control" name="password" placeholder="Choose your Password" required>
                <input type="password" class="form-control" name="repeatedAccountPassword" placeholder="Confirm your Password" required>
                <button class="btn btn-lg btn-success btn-block" type="submit">
                    Sign Up for Seapal
                </button>
                <a href="#" class="pull-right need-help" onclick="javascript:new modalOutput('modal', 'modal-title', 'modal-body').info('Your password must contain at least eight characters.<br/>A valid email looks like (eg.): john-doe&#64;email.com');">
                    Need help?
                </a>
                <span class="clearfix"></span>
            }
        </div>
    </body>

    <footer>
        @appContent.footer()
    </footer>
</html>
