<!-- Modal -->
<div class="modal fade" id="modal-signUpSeapal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="account-wall">
        <button type="button" class="signInSeapalClose close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <img class="profile-img" src="@routes.Assets.at("images/seapal_launcher.png")" alt="Seapal">
        <form class="form-signInSeapal">
            <input type="text" class="form-control" placeholder="Choose your Username" required autofocus>
            <input type="text" class="form-control" placeholder="Enter your Email" required autofocus>
            <input type="password" class="form-control" placeholder="Choose your Password" required>
            <input type="password" class="form-control" placeholder="Confirm your Password" required>
            <button class="btn btn-lg btn-success btn-block" type="submit">
                Sign Up for Seapal
            </button>
            <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
    </div>
</div><!-- /.modal -->