@(form: Form[de.htwg.seapal.web.controllers.secure.impl.Account], link: play.api.mvc.Call)
<!DOCTYPE HTML>
<html>
    <head>
        @appContent.header()
    </head>
    <body>
        <div class="account-wall">
            <img class="profile-img" src="@routes.Assets.at("images/seapal_launcher.png")" alt="Seapal">
            @if(flash.contains("errors")) {
                <div class="error-message">
                    <a>@flash.get("errors")</a>
                </div>
            }
            @if(form.hasGlobalErrors) {
                <div class="error-message">
                    <a>@form.globalError.message</a>
                </div>
            }
            @helper.form(link, 'class -> "form-signInSeapal") {
                <input type="text" class="form-control" placeholder="Choose your Username" required autofocus>
                <input type="text" class="form-control" name="accountName" placeholder="Enter your Email" required autofocus>
                <input type="password" class="form-control" name="accountPassword" placeholder="Choose your Password" required>
                <input type="password" class="form-control" placeholder="Confirm your Password" required>
                <button class="btn btn-lg btn-success btn-block" type="submit">
                    Sign Up for Seapal
                </button>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
            }
        </div>
    </body>
</html>