/**
 * Seapal input forms
 */

.inputForm-modal
{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 40px 0px 20px 0px;
} 

.inputForm_Boat-modal
{
    max-width: 1150px;
}

.inputForm_Track-modal
{
    max-width: 800px;
}

.inputForm-content {
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	position: relative;
	background-clip: padding-box;
}

.inputForm-footer
{
	padding: 5px 5px 5px 5px;
  	text-align: right;
  	border-top: 1px solid #e5e5e5;
}

.form_boat
{
    padding: 15px;
    margin: 0 auto;
}

.form_boat input
{
    width: 100px;
}

.form_track
{
	padding: 15px;
    margin: 0 auto;
}

.form_track textarea
{
    width: auto;
    resize: none;
}