.div-weather-layer {
  background-color:rgba(0,255,0,0.0);
  position: absolute;
}

.div-weather-info {
  background-color:rgba(128,128,128,0.2);
  position: absolute;
  width: 125px;
  height:100px;
}

.div-weather-icon {
  width: 50px;
  height: 50px;
  background-color:rgba(255,255,255,0.0);
}

.div-wind-icon {
  width: 50px;
  height: 50px;
  background-color:rgba(255,255,255,0.0);
}

.div-weather-text {
  height: 33px;
  width: 100px;
  background-color:rgba(0,255,0,0.0);
  position: relative;
  bottom: 100px;
  left: 50px;
  margin-left: 2px;
}

.div-wind-speed {
  height: 33px;
  width: 100px;
  background-color:rgba(0,255,255,0.0);
  position: relative;
  bottom: 100px;
  left: 50px;
  margin-left: 2px;
}

.div-wind-deg {
  height: 33px;
  width: 100px;
  background-color:rgba(0,0,255,0.0);
  position: relative;
  bottom: 100px;
  left: 50px;
  margin-left: 2px;
}

.text-weather-info {
  line-height: 33px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  
  color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  font-weight: 'bold';
  background-color:rgba(255,255,255,0.2);
}