.div-weather-info {
  width: 0px;
  height: 84px;
  background-color:rgba(0,0,0,0);
  left: 84;
  position: absolute;
}

.div-weather-icon {
  width: 42px;
  height: 42px;
  background-color:rgba(255,255,255,0.2);
}

.div-wind-icon {
  width: 42px;
  height: 42px;
  background-color:rgba(255,255,255,0.2);
  margin-left: auto;
  margin-right: auto;
}

.div-weather-text {
  height: 42px;
  width: 100px;
          background-color:rgba(0,0,0,0);
  position: relative;
  bottom: 84px;
  left: 42px;
  margin-left: 2px;
}

.div-wind-text {
  height: 42px;
  width: 100px;
          background-color:rgba(0,0,0,0);
  position: relative;
  bottom: 84px;
  left: 42px;
  margin-left: 2px;
}

text {
  line-height: 42px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: '#0059FE';
  font-weight: 'bold';
  background-color:rgba(255,255,255,0.2);
}