#entries_col {
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 50px;
    padding: 0 10px 10px 10px;
}

#menu_bar {
    top: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.navbar {
    background-color: rgb( 228, 230, 229);
}

#pictures {
    background: #FFFFFF;
    bottom: 0px;
    position: fixed;
    max-height: 25%;
}

h3 {
    padding-top: 0;
    margin-top: 0;
}

#details h3 {
    background-color: #dedede;
    border-left: 3px solid #acacac;
    color: #535564;
    padding: 0.2em;
    cursor: pointer;
    background-image: url('../images/logbook/expand-icon.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.tripHeader {
    background: #2fd1ff;
    padding: 1em;
    margin-top: -7px;
}

.logbookEntry {
    padding: 1em 0;
    opacity: 0.7;
    border-top: 1px solid lightgray;
    cursor: pointer;
    -webkit-transition: max-height 0.5s, padding 0.5s, opacity 0.5s;
    transition: max-height 0.5s, padding 0.5s, opacity 0.5s;
    max-height: 2000em; /* only for transition */
}

    .logbookEntry.active {
        opacity: 1;
    }

.imageholder {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

    .imageholder a img {
        max-width: 45%;
        display: inline;
    }

.logbookEntry img {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}

/* for hidden waypoints*/
.filtered {
    padding: 0;
    max-height: 0;
    opacity: 0;
    border-style: none;
    overflow: hidden;
}

#details_col {
    position: fixed;
    bottom: 0px;
    top: 50px;
    right: 0px;
    width: 30%;
    padding: 1em;
}

#details img {
    max-width: 100%;
    max-height: 100%;
}

#timeline_col {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 20%;
    padding: 0 10px;
}

#timeline {
    overflow: hidden;
    height: 100vh;
}

.timeline-heading {
    font-weight: bold;
}

.timeline-img {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    #entries_col {
        margin-left: auto;
        width: 70%;
        max-width: 70%;
    }

    #timeline_col {
        display: none;
    }
}

@media (max-width: 1024px) {
    #entries_col {
        margin-right: auto;
        width: 100%;
        max-width: 100%;
    }

    #details_col {
        display: none;
    }

    .logbookEntry {
        opacity: 1;
    }
}
