/*
    Note:    Styles for responsive master layout are in logbook_masterlayout.css!
*/

.navbar {
    background-color: rgb( 228, 230, 229);
}

.panelToggler {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: none;
}

    .panelToggler:hover {
        background-color: #b2b2b2;
        text-decoration: none;
    }

#pictures {
    background: #FFFFFF;
    bottom: 0px;
    position: fixed;
    max-height: 25%;
}

h3 {
    padding-top: 0;
    margin-top: 0;
}

.detailsContent {
    padding: 0.5em;
}

#details h3 {
    background: -moz-linear-gradient(top, rgba(178,178,178,1) 0%, rgba(178,178,178,0.99) 30%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(178,178,178,0.99) 30%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(178,178,178,0.99) 30%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(178,178,178,0.99) 30%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(178,178,178,1) 0%,rgba(178,178,178,0.99) 30%,rgba(0,0,0,0) 100%);
    /* background-color: #dedede; */
    color: #535564;
    cursor: pointer;
    padding: 0.3em 0.5em;
    font-size: 14pt;
}

#details img {
    margin-top: 5px;
    float: right;
}

#details table {
    width: 100%;
}

#details .table_chart {
    min-width: 170px;
    max-width: 170px;
    height: 170px;
    margin: 0 auto;
}

#details .table_chart_small {
	min-width: 130px;
    max-width: 130px;
    height: 160px;
    margin: 0 auto;
}

#details .table_chart_high {
	min-width: 170px;
    max-width: 170px;
    height: 200px;
    margin: 0 auto;
}
#details .table_chart_big {
	min-width: 170px;
    max-width: 170px;
    height: 230px;
    margin: 0 auto;
}

.tripHeader {
    background: rgba(0, 0, 40, 0.4);
    padding: 1em 2em;
    color: white;
}

    .tripHeader td {
        vertical-align: top;
    }

    .tripHeader h3 {
        color: rgb(18, 36, 66);
    }

.logbookEntry {
    padding: 1em 2em;
    opacity: 0.5;
    border-top: 1px solid lightgray;
    cursor: pointer;
    -webkit-transition: max-height 0.5s, padding 0.5s, opacity 0.5s;
    transition: max-height 0.5s, padding 0.5s, opacity 0.5s;
    max-height: 2000em; /* only for transition */
}

	.logbookEntry .waypointEditButton {
		display: none;
		width: 16px;
		height: auto;
	}
	
    .logbookEntry.active, .logbookEntry:first-child {
        opacity: 1;
    }

	.logbookEntry.active .waypointEditButton {
		display: inline;
	}

@media (max-width: 1024px) {
    .logbookEntry, .tripHeader {
        padding: 1em 0.5em;
    }
}

.imageholder {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

    .imageholder a img {
        max-width: 45%;
        display: inline;
    }

.logbookEntry img {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}

label {
    cursor: pointer;
}

/* for hidden waypoints*/
.logbookEntry.filtered {
    padding: 0;
    max-height: 0;
    opacity: 0;
    border-style: none;
    overflow: hidden;
}

/* load next/prev trip buttons */
.NextPrevTripButton {
    display: none;
    background-repeat: no-repeat;
    /*background-color: #e5e5e5;*/
    background-position-y: center;
    background-position-x: 7px;
    /*border: 1px solid #686771;*/
    border-radius: 3px;
    margin: auto;
    padding: 1.5em 0.5em;
    padding-left: 75px;
    max-width: 400px;
    color: #686771;
}

    .NextPrevTripButton:hover {
        text-decoration: none;
    }
    .NextPrevTripButton .btnTitle {
        color: rgb(18, 36, 66);
        font-size: 14pt;
    }

.timeline-inverted.filtered {
    max-height: 0;
}

.filterButton {
    display: inline-block;
    padding: 4px 0;
    border: 1px solid rgba(255, 255, 255, 0.00);
    cursor: pointer;
}

.filterButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.00);
    text-decoration: none;
}

.filterButton img {
    width: 24px;
    height: auto;
}

.filterButton.active {
    background-color: #a6d3e0;
    border: 1px solid #5394a7;
}

#timeOffsetToggler {
    width: 34px;
    height: 34px;
    padding: 4px 0 0 0;
    text-align: center;
    color: #686771;
    font-weight: bold;
    font-size: 16px;
}

/* -------  timeline customization  -------- */

#timeline {
    overflow: hidden;
    height: 100vh;
    font-size: 10pt;
}

.timeline:before {
    background-color: #c2c2c2; /* color of middle line of timeline */
}

.timeline-heading {
    font-weight: bold;
}

.timeline-img {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.timeline-inverted {
    max-height: 2000px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

/* override background colors */
.timeline > li > .timeline-panel:after {
    border-left-color: #dcdcdc;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-right-color: #dcdcdc;
}

.timeline-panel {
    background-color: #e6e6e6;
}

.timeline-inverted .timeline-panel {
    background-color: #efefef;
}

/* ------- styles of DETAILS panel ---------*/

#details_weather {
    height: 30%;
}

#details_text {
    height: 30%;
}

#details_chart {
}

#details_pie_charts{
    display: none;
}

#details_map {
    height: 300px;
    max-height: 300px;
    width: 100%;
    max-width: 100%;
}

#map_canvas {
    height: 100%;
    width: 100%;
}
