/*   ------------------  Default:   Desktop-Size Screens  ------------------*/
body {
    /*background-image: url('../images/logbook/bgtexture.jpg');*/
}
#menu_bar {
    top: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 30;
    height: 35px;
    overflow: hidden;
}

#timeline_col {
    position: fixed;
    top: 35px;
    bottom: 0;
    left: 0;
    margin-left: 0;
    width: 20%;
    padding: 0 10px;
    z-index: 10;
    background-color: rgb(246, 246, 246);
    transition: margin-left 0.5s;
    -webkit-box-shadow: 2px 0px 9px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 2px 0px 9px 0px rgba(50, 50, 50, 0.41);
    box-shadow: 2px 0px 9px 0px rgba(50, 50, 50, 0.41);
}

#entries_col {
    z-index: 0;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 15px;
    transition: margin-left 0.5s, margin-right 0.5s;
}

#details_col {
    position: fixed;
    bottom: 0px;
    top: 35px;
    right: 0px;
    margin-right: 0;
    width: 30%;
    padding: 1em;
    background-color: rgb(246, 246, 246);
    z-index: 20;
    transition: margin-right 0.5s;
    -webkit-box-shadow: -2px 0px 9px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: -2px 0px 9px 0px rgba(50, 50, 50, 0.41);
    box-shadow: -2px 0px 9px 0px rgba(50, 50, 50, 0.41);
}

#filterBar {
    position: fixed;
    background-color: #abecfe;
    right: 31%;
    top: 50px;
    z-index: 5;
}

#timelineToggler {
    display: none;
}

/*   ------------------  MID-Size Screens  ------------------*/

@media (max-width: 1200px) {

    #timelineToggler {
        display: inline-block;
    }

    #timeline_col.forceOpen {
        margin-left: 0;
    }

    .navbar-toggle {
        display: none;
    }

    #timeline_col {
        border-right: 2px solid #808080;
        margin-left: -80%;
        width: 80%;
    }

    #entries_col {
        margin-left: 0;
    }


    #filterBar {
        right: 31%;
    }
}

/*   ------------------  Smartphone Screens   ------------------ */

@media (max-width: 1024px) {

    #detailsToggler {
        display: inline-block;
    }

    #entries_col {
        margin-right: 0;
    }

    #details_col {
        width: 80%;
        margin-right: -80%;
        border-left: 2px solid #808080;
    }

        #details_col.forceOpen {
            width: 80%;
            margin-right: 0;
        }

    #filterBar {  /* filter bar moved into the menu bar */
        margin: auto;
        top: 0px;
        z-index: 31;
        background-color: transparent;
    }

    .logbookEntry {
        opacity: 1;
        padding: 1em 0.5em;
    }
}
