#entries_col {
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 50px;
    padding: 0 10px 10px 10px;
}

#menu_bar {
    top: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.navbar {
    background-color: rgb( 228, 230, 229);
}

#pictures {
    background: #FFFFFF;
    bottom: 0px;
    position: fixed;
    max-height: 25%;
}

h3 {
    padding-top: 0;
    margin-top: 0;
}

#details h3 {
    background: #494949; /* Old browsers */
    background: -moz-linear-gradient(top, #494949 0%, #b2b2b2 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(0%,#b2b2b2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #494949 0%,#b2b2b2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #494949 0%,#b2b2b2 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #494949 0%,#b2b2b2 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #494949 0%,#b2b2b2 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    /* background-color: #dedede; */
    border-left: 3px solid #acacac;
    color: #535564;
    padding: 0.2em;
    cursor: pointer;
}

#details img {
    margin-top: 5px;
    float: right;
}

#details table {
    width: 100%;
}

.tripHeader {
    background: #2fd1ff;
    padding: 1em;
}

.logbookEntry {
    padding: 1em 0;
    opacity: 0.5;
    border-top: 1px solid lightgray;
    cursor: pointer;
    -webkit-transition: max-height 0.5s, padding 0.5s, opacity 0.5s;
    transition: max-height 0.5s, padding 0.5s, opacity 0.5s;
    max-height: 2000em; /* only for transition */
}

.logbookEntry.active {
    opacity: 1;
}

.imageholder {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

    .imageholder a img {
        max-width: 45%;
        display: inline;
    }

.logbookEntry img {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}

label {
    cursor: pointer;
}

/* for hidden waypoints*/
.logbookEntry.filtered {
    padding: 0;
    max-height: 0;
    opacity: 0;
    border-style: none;
    overflow: hidden;
}

.timeline-inverted.filtered {
    max-height: 0;
}

#details_col {
    position: fixed;
    bottom: 0px;
    top: 50px;
    right: 0px;
    width: 30%;
    padding: 1em;
}

#filterBar {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    right: 31%;
    top: 74px;
    z-index: 100;
}

.filterButton {
    padding: 4px 0;
    border: 1px solid rgba(255, 255, 255, 0.00);
    cursor: pointer;
    box-sizing: border-box;
}

    .filterButton:hover {
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.00);
        text-decoration: none;
    }

    .filterButton img {
        width: 24px;
        height: auto;
    }

    .filterButton.active {
        background-color: rgba(255, 255, 255, 0.62);
        border: 1px solid white;
    }

#timeline_col {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 20%;
    padding: 0 10px;
}

#timeline {
    overflow: hidden;
    height: 100vh;
}

.timeline-heading {
    font-weight: bold;
}

.timeline-img {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.timeline-inverted {
    max-height: 2000px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

#details_weather {
    height: 30%;
}

#details_text {
    height: 30%;
}

#details_map {
    height: 300px;
    max-height: 300px;
    width: 100%;
    max-width: 100%;
}

.detail_box {
}

#map_canvas {
    height: 100%;
    width: 100%;
}

@media (max-width: 1200px) {
    #entries_col {
        margin-left: auto;
        width: 70%;
        max-width: 70%;
    }

    #timeline_col {
        display: none;
    }
}

@media (max-width: 1024px) {
    #entries_col {
        margin-right: auto;
        width: 100%;
        max-width: 100%;
    }

    #details_col {
        display: none;
    }

    .logbookEntry {
        opacity: 1;
    }
}
