<!-- Modal -->
<div class="modal fade" id="modal-form_globalSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="inputForm-modal inputForm_GlobalSettings-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="inputForm-content">
            	<form class="form_global form_globalSettings" id="globalSettingsInputForm"></form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/x-handlebars" id="globalSettings_Template">
    <div class="row">
        <div class="centered col-12 col-sm-8">
            <label for="distanceUnit">Unit for distance</label>
        </div>
        <div class="col-12 col-sm-4">
            <select name="distanceUnit" tabindex="1" {{bindData "DISTANCE_UNIT"}}>
                {{#select DISTANCE_UNIT}}
                <option value="globalSettings_mil">Naut. miles</option>
                <option value="globalSettings_km">Kilometer</option>
                <option value="globalSettings_nautmil">Miles</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="centered col-12 col-sm-8">
            <label for="temperatureUnit">Unit for temperature</label>
        </div>
        <div class="col-12 col-sm-4">
            <select name="temperatureUnit" tabindex="2" {{bindData "TEMPERATURE_UNIT"}}>
                {{#select TEMPERATURE_UNIT}}
                <option value="globalSettings_celsius">°C</option>
                <option value="globalSettings_fahrenheit">°F</option>
                <option value="globalSettings_kelvin">°K</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="centered col-12 col-sm-8">
            <label for="trackInteral">Track record interval [s]</label>
        </div>
        <div class="col-12 col-sm-4">
            <input type="number" min="1" step="1" name="trackInteral" tabindex="3" {{bindData "TRACKING_DELAY"}} value={{TRACKING_DELAY}} required />
        </div>
    </div>
    <div class="row">
        <div class="centered col-12 col-sm-8">
            <label for="historyTrend">History trend for dashboard [s]</label>
        </div>
        <div class="col-12 col-sm-4">
            <input type="number" min="1" step="1" name="historyTrend" tabindex="4" {{bindData "HISTORY_TREND"}} value={{HISTORY_TREND}} required />
        </div>
    </div>
    <div class="row">
        <div class="centered col-12 col-sm-8">
            <label for="circleRadius">Security circle radius [m]</label>
        </div>
        <div class="col-12 col-sm-4">
            <input type="number" min="1" step="1" name="circleRadius" tabindex="5" {{bindData "CIRCLE_RADIUS"}} value={{CIRCLE_RADIUS}} required />
        </div>
    </div>
    <div class="inputForm-footer">
        <button type="submit" class="btn btn-primary" id="globalSettingsSave">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Abort</button>
    </div>
</script>