<!-- Modal -->
<div class="modal fade" id="modal-form_trip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="inputForm-modal inputForm_Trip-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Your trips</h4>
            </div>
            <div class="inputForm-content">
            	<form class="form_trip">
            		<div class="row">
            			<div class="col-12 col-sm-1 font-light">
        					<label for="trip_title">Titel</label>
						</div>
						<div class="col-12 col-sm-11 font-light">
							<input type="text" name="trip_title" tabindex="1" required />
						</div>
            		</div>
            		<div class="row">
            			<div class="col-12 col-sm-1 font-light">
        					<label for="trip_skipper">Skipper</label>
						</div>
						<div class="col-12 col-sm-4 font-light">
							<input type="text" name="trip_skipper" tabindex="2" required />
						</div>
						<div class="col-12 col-sm-7 font-light">
							<input type="checkbox" name="trip_tank_filled" tabindex="3"> Tank filled</input>
						</div>
            		</div>
            		<div class="row">
            			<div class="col-12 col-sm-1 font-light">
        					<label for="trip_startDestination">From</label>
						</div>
						<div class="col-12 col-sm-5 font-light">
        					<input type="text" name="trip_startDestination" tabindex="4" required />
						</div>
						<div class="col-12 col-sm-1 font-light">
        					<label for="trip_endDestination">To</label>
						</div>
						<div class="col-12 col-sm-5 font-light">
        					<input type="text" name="trip_endDestination" tabindex="5" required />
						</div>
            		</div>
            		<div class="row">
            			<div class="col-12 col-sm-1 font-light">
        					<label for="trip_startDate">Start</label>
						</div>
						<div class="col-12 col-sm-3 font-light">
        					<input type="text" name="trip_startDate" tabindex="6" required />
						</div>
						<div class="col-12 col-sm-1 font-light">
        					<label for="trip_endDate">End</label>
						</div>
						<div class="col-12 col-sm-3 font-light">
        					<input type="text" name="trip_endDate" tabindex="7" required />
						</div>
						<div class="col-12 col-sm-1 font-light">
        					<label for="trip_duration">Duration</label>
						</div>
						<div class="col-12 col-sm-3 font-light">
        					<input type="text" name="trip_dauration" tabindex="8" required />
						</div>
            		</div>
            		<div class="row">
            			<div class="col-12 col-sm-1 font-light">
        					<label for="trip_crew">Crew</label>
						</div>
            			<div class="col-12 col-sm-4 font-light">        					
            				<textarea name="trip_crew" rows="10" tabindex="9"></textarea>
						</div>
						<div class="col-12 col-sm-1 font-light">
        					<label for="trip_notes">Notes</label>
						</div>
						<div class="col-12 col-sm-6 font-light">        					
            				<textarea name="trip_notes" rows="10" tabindex="10"></textarea>
						</div>
            		</div>
        		</form>
            </div>            
			<div class="inputForm-footer">
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Abort</button>
			</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->