<!-- Waypoint template -->
<script type="text/x-handlebars" id="waypointEditorTemplate">
    <div class="row">
        <div class="col-12 col-sm-1">
            <label for="waypoint_titel">Name</label>
        </div>
        <div class="col-12 col-sm-3">
            <input type="text" name="waypoint_name" tabindex="1" {{bindData "name"}} value="{{name}}" />
        </div>
        <div class="col-12 col-sm-1">
            <label for="waypoint_pos">Pos.</label>
        </div>
        <div class="col-12 col-sm-3">
            <input type="search" class="latlngInput" name="waypoint_pos" {{bindData "position"}} value="{{position}}" tabindex="2" disabled/>
        </div>
        <div class="col-12 col-sm-1">
            <label for="waypoint_date">Date</label>
        </div>
        <div class="col-12 col-sm-3">
            <input type="text" name="waypoint_date" tabindex="3" readonly value="{{timeDateToString date}}" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-1" >
            <label for="waypoint_COG">COG</label>
        </div>
        <div class="col-12 col-sm-2">
            <input type="text" name="waypoint_COG" tabindex="8" readonly {{bindData "cog"}} value="{{cog}}" />
        </div>
        <div class="col-12 col-sm-1">
            <label for="waypoint_SOG">SOG</label>
        </div>
        <div class="col-12 col-sm-2">
            <input type="text" name="waypoint_SOG" tabindex="9" readonly {{bindData "sog"}} value="{{sog}}" />
        </div>
        <div class="col-12 col-sm-1">
            <label for="waypoint_BTM">BTM</label>
        </div>
        <div class="col-12 col-sm-2">
            <input type="text" name="waypoint_BTM" tabindex="10" readonly {{bindData "btm"}} value="{{btm}}" />
        </div>
        <div class="col-12 col-sm-1">
            <label for="waypoint_DTM">DTM</label>
        </div>
        <div class="col-12 col-sm-2">
            <input type="text" name="waypoint_DTM" tabindex="11" readonly {{bindData "dtm"}} value="{{dtm}}" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-2">
            <label for="waypoint_maneuver">Maneuver</label>
        </div>
        <div class="col-12 col-sm-2">
            <select name="waypoint_maneuver" tabindex="12" {{bindData "maneuver"}}>
                {{#select maneuver}}
                <option value="NONE">-</option>
                <option value="waypoint_maneuver_mob">Man overboard</option>
                <option value="waypoint_maneuver_tack">Tack</option>
                <option value="waypoint_maneuver_jibe">Jibe</option>
                <option value="waypoint_maneuver_shooting">Shooting head to wind</option>
                {{/select}}
            </select>
        </div>
        <div class="col-12 col-sm-2">
            <label for="waypoint_headsail">Headsail</label>
        </div>
        <div class="col-12 col-sm-2">
            <select name="waypoint_headsail" tabindex="13" {{bindData "foresail"}}>
                {{#select foresail}}
                <option value="NONE">-</option>
                <option value="waypoint_headsail_jib">Jib</option>
                <option value="waypoint_headsail_genoa">Genoa</option>
                <option value="waypoint_headsail_spinnaker">Spinnaker</option>
                {{/select}}
            </select>
        </div>
        <div class="col-12 col-sm-2">
            <label for="waypoint_mainsail">Mainsail</label>
        </div>
        <div class="col-12 col-sm-2">
            <select name="waypoint_mainsail" tabindex="14" {{bindData "mainsail"}}>
                {{#select mainsail}}
                <option value="NONE">-</option>
                <option value="waypoint_mainsail_jib">Jib</option>
                <option value="waypoint_mainsail_mainsail">Mainsail</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-1">
            <label for="waypoint_Notes">Notes</label>
        </div>
        <div class="col-12 col-sm-5">
            <textarea name="waypoint_Notes" rows="10" tabindex="15" {{bindData "note"}}>{{note}}</textarea>
        </div>
        <div class="col-12 col-sm-6">
            <div id="tabs">
                <ul>
                    <li><a href="#image"><span>Image</span></a></li>
                    <li><a href="#weather"><span>Weather Data</span></a></li>
                </ul>
                <div id="image">
                    <img src="{{image}}">
                </div>
                <div id="weather">
                    <div class="row">
                        <div class="col-12 col-sm-6" >
                            <label for="waypoint_temp">Temperature</label>
                        </div>
                        <div class="col-12 col-sm-4">
                            <input type="text" name="waypoint_temp" tabindex="4" {{bindData "tempCelsius"}} value="{{tempCelsius}}" />
                        </div>
                        <div class="col-12 col-sm-2" >
                            <label for="waypoint_temp_unit">&deg;C</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <label for="waypoint_pressure">Pressure</label>
                        </div>
                        <div class="col-12 col-sm-4">
                            <input type="text" name="waypoint_pressure" tabindex="5" {{bindData "atmosPressure"}} value="{{atmosPressure}}" />
                        </div>
                        <div class="col-12 col-sm-2" >
                            <label for="waypoint_pressure_unit">hPa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <label for="waypoint_wind_speed">Wind Speed</label>
                        </div>
                        <div class="col-12 col-sm-4">
                            <input type="text" name="waypoint_wind_speed" tabindex="6" {{bindData "windSpeedBeaufort"}} value="{{windSpeedBeaufort}}" />
                        </div>
                        <div class="col-12 col-sm-2" >
                            <label for="waypoint_wind_speed_unit">m/s</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <label for="waypoint_wind_deg">Wind Direction</label>
                        </div>
                        <div class="col-12 col-sm-4">
                            <input type="text" name="waypoint_wind_deg" tabindex="7" {{bindData "windDirection"}} value="{{windDirection}}" />
                        </div>
                        <div class="col-12 col-sm-2" >
                            <label for="waypoint_wind_deg_unit">&deg;</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inputForm-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Abort</button>
    </div>
</script>